{"openapi":"3.1.0","info":{"title":"Twitter API Service","description":"\n        A comprehensive Twitter API service that provides various Twitter operations including:\n        \n        * **Search Operations**: Advanced search, hashtags, cashtags\n        * **Tweet Operations**: Post, like, retweet, quote, bookmark, delete\n        * **User Operations**: Batch user information retrieval\n        * **Influencer Operations**: Get tweets from top influencers\n        \n        All endpoints return standardized responses in the format:\n        ```json\n        {\n            \"code\": 200,\n            \"msg\": \"success\", \n            \"data\": {...}\n        }\n        ```\n        \n        ## Authentication\n        \n        This API uses Bearer token authentication. Include your token in the Authorization header:\n        ```\n        Authorization: Bearer your_token_here\n        ```\n        ","contact":{"name":"API Support","email":"support@twitterxapi.com"},"license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.twexapi.io","description":"Development server"}],"paths":{"/twitter/{auth_token}/cookie":{"get":{"tags":["Cookie Endpoints"],"summary":"Get cookie by auth token","description":"Retrieve Twitter authentication cookie using the provided auth token. This endpoint converts an auth token into a usable cookie for Twitter API requests.","operationId":"get_cookie_by_auth_token_endpoint_twitter__auth_token__cookie_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"auth_token","in":"path","required":true,"schema":{"type":"string","title":"Auth Token"}}],"responses":{"200":{"description":"Twitter authentication cookie","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/{auth_token}/user_info":{"get":{"tags":["Cookie Endpoints"],"summary":"Get user info by auth token","description":"Retrieve Twitter user info using the provided auth token.","operationId":"get_user_info_by_auth_token_endpoint_twitter__auth_token__user_info_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"auth_token","in":"path","required":true,"schema":{"type":"string","title":"Auth Token"}}],"responses":{"200":{"description":"Twitter user info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfoResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/advanced_search":{"post":{"tags":["Search Endpoints"],"summary":"Advanced Twitter Search","description":"Perform advanced search on Twitter with multiple search terms and filters, $0.14/1000 tweets. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"get_data_twitter_advanced_search_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets matching search criteria","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/advanced_search/page":{"post":{"tags":["Search Endpoints"],"summary":"Advanced Twitter Search by Page","description":"Perform advanced Twitter search with cursor-based pagination. Each page returns up to 20 tweets. Pass next_cursor from the previous response to continue. Pricing: $0.14 per 1,000 tweets. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"get_data_page_twitter_advanced_search_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedSearchCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 20 tweets) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedSearchCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/cashtags":{"post":{"tags":["Search Endpoints"],"summary":"Search Cashtags","description":"Search for tweets containing specific cashtags (stock symbols), $0.14/1000 tweets. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"get_cashtags_twitter_cashtags_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashtagsQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets containing the specified cashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/hashtags":{"post":{"tags":["Search Endpoints"],"summary":"Search Hashtags","description":"Search for tweets containing specific hashtags. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"get_hashtags_twitter_hashtags_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashtagsQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets containing the specified hashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/like":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Like a Tweet","description":"Likes a specific tweet on behalf of the user associated with the provided cookie,$0.0025 per call.","operationId":"like_tweet_endpoint_twitter_tweets__tweet_id__like_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The numeric ID of the tweet to like.","title":"Tweet Id"},"description":"The numeric ID of the tweet to like."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeActionBody"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Tweet Actions Endpoints"],"summary":"Unlike a Tweet","description":"Unlike a tweet, $0.0025 per call.","operationId":"unfavorite_tweet_api_endpoint_twitter_tweets__tweet_id__like_delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to delete.","title":"Tweet Id"},"description":"The ID of the tweet to delete."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnfavoriteTweetQuery"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/{tweet_id}/retweet":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Retweet a Tweet","description":"Retweets a specific tweet on behalf of the user associated with the provided cookie,$0.0025 per call.","operationId":"retweet_tweet_endpoint_twitter_tweets__tweet_id__retweet_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to retweet.","title":"Tweet Id"},"description":"The ID of the tweet to retweet."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetweetActionBody"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Tweet Actions Endpoints"],"summary":"Delete Retweet","description":"Delete a retweet, $0.0025 per call.","operationId":"delete_retweet_api_endpoint_twitter_tweets__tweet_id__retweet_delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to delete.","title":"Tweet Id"},"description":"The ID of the tweet to delete."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteRetweetQuery"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/users":{"post":{"tags":["Users Endpoints"],"summary":"Get Multiple Users by Usernames","description":"Retrieve detailed profile information for multiple Twitter users by their usernames or profile URLs, $0.14/1000 users. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"get_users_by_usernames_twitter_users_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Usernames","description":"A list of Twitter usernames or profile URLs. Provide multiple times for multiple users (e.g., `[elonmusk,sundarpichai]`).","examples":["elonmusk","sundarpichai"]}}},"required":true},"responses":{"200":{"description":"A list of user profile objects. Unfound users are represented by `null`.","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/latest-followers/{screen_name}":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get Latest Followers","description":"Get latest followers of a user, $0.14/1000 followers.","operationId":"get_latest_followers_apiendpoint_twitter_latest_followers__screen_name__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name of the user to get latest followers.","examples":["elonmusk"],"title":"Screen Name"},"description":"The screen name of the user to get latest followers."}],"responses":{"200":{"description":"A list of user info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestFollowersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/latest-following/{screen_name}":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get Latest Following","description":"Get latest following of a user, $0.14/1000 following.","operationId":"get_latest_following_apiendpoint_twitter_latest_following__screen_name__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name of the user to get latest following.","examples":["elonmusk"],"title":"Screen Name"},"description":"The screen name of the user to get latest following."}],"responses":{"200":{"description":"A list of user info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestFollowingsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/followers/{screen_name}/{count}":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get Followers","description":"Get followers of a user, $0.14/1000 followers. When count > 5000, returns a task_id immediately (HTTP 202). Use GET /twitter/followers/task/{task_id}/status to check progress, and GET /twitter/followers/task/{task_id}/next to consume pages one by one.","operationId":"get_followers_apiendpoint_twitter_followers__screen_name___count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name of the user to get followers.","examples":["elonmusk"],"title":"Screen Name"},"description":"The screen name of the user to get followers."},{"name":"count","in":"path","required":true,"schema":{"type":"integer","description":"The number of followers to get.","examples":[200],"title":"Count"},"description":"The number of followers to get."}],"responses":{"200":{"description":"A list of user info, or a task_id for large requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFollowersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/followers/task/{task_id}/status":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get Followers Task Status","description":"Check progress of a large followers task. status: pending | running | done | error.","operationId":"get_followers_task_status_twitter_followers_task__task_id__status_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"task_id returned when submitting a large followers request","title":"Task Id"},"description":"task_id returned when submitting a large followers request"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/followers/task/{task_id}/next":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Consume Next Page of Followers Task","description":"Return the next available page (~200 followers) from the task. Each page is removed after being returned. Keep polling until status=done and data=[] (all pages consumed).","operationId":"get_followers_task_next_page_twitter_followers_task__task_id__next_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"task_id returned when submitting a large followers request","title":"Task Id"},"description":"task_id returned when submitting a large followers request"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/followers/page":{"post":{"tags":["Followers & Following Endpoints"],"summary":"Get Followers by Page","description":"Retrieve a paginated list of followers using cursor-based pagination. Each page returns up to 200 followers. Pass next_cursor from the previous response to continue. Pricing: $0.14 per 1,000 followers.","operationId":"get_followers_cursor_apiendpoint_twitter_followers_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFollowersCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 200 followers) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFollowersCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/following/page":{"post":{"tags":["Followers & Following Endpoints"],"summary":"Get Following by Page","description":"Retrieve a paginated list of following users using cursor-based pagination. Each page returns up to 200 users. Pass next_cursor from the previous response to continue. Pricing: $0.14 per 1,000 following users.","operationId":"get_following_cursor_apiendpoint_twitter_following_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFollowingCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 200 following users) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFollowingCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/following/{screen_name}/{count}":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get Following","description":"Get following of a user, $0.14/1000 following. When count > 5000, returns a task_id immediately (HTTP 202). Use GET /twitter/following/task/{task_id}/status to check progress, and GET /twitter/following/task/{task_id}/next to consume pages one by one.","operationId":"get_following_apiendpoint_twitter_following__screen_name___count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name of the user to get following.","examples":["elonmusk"],"title":"Screen Name"},"description":"The screen name of the user to get following."},{"name":"count","in":"path","required":true,"schema":{"type":"integer","description":"The number of following to get.","examples":[200],"title":"Count"},"description":"The number of following to get."}],"responses":{"200":{"description":"A list of user info, or a task_id for large requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFollowingResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/following/task/{task_id}/status":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get Following Task Status","description":"Check progress of a large following task. status: pending | running | done | error.","operationId":"get_following_task_status_twitter_following_task__task_id__status_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"task_id returned when submitting a large following request","title":"Task Id"},"description":"task_id returned when submitting a large following request"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/following/task/{task_id}/next":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Consume Next Page of Following Task","description":"Return the next available page (~200 following) from the task. Each page is removed after being returned. Keep polling until status=done and data=[] (all pages consumed).","operationId":"get_following_task_next_page_twitter_following_task__task_id__next_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"task_id returned when submitting a large following request","title":"Task Id"},"description":"task_id returned when submitting a large following request"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v3/twitter/users/following":{"post":{"tags":["Followers & Following Endpoints"],"summary":"Get Following (v3)","description":"Get following list of a user. Page size 10-100; use cursor for more pages. $0.14/1000 users.","operationId":"following_v3_api_v3_twitter_users_following_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowersFollowingV3Query"}}},"required":true},"responses":{"200":{"description":"Following page with cursor pagination.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifiedFollowersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/users/followers":{"post":{"tags":["Followers & Following Endpoints"],"summary":"Get Followers (v3)","description":"Get followers of a user. Page size 10-100; use cursor for more pages. $0.14/1000 users.","operationId":"followers_v3_api_v3_twitter_users_followers_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowersFollowingV3Query"}}},"required":true},"responses":{"200":{"description":"Followers page with cursor pagination.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifiedFollowersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/users/verified-followers":{"post":{"tags":["Followers & Following Endpoints"],"summary":"Get Verified Followers","description":"Get blue-verified followers of a user. Page size 10-100; use cursor for more pages. $0.14/1000 users.","operationId":"verified_followers_api_v3_twitter_users_verified_followers_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowersFollowingV3Query"}}},"required":true},"responses":{"200":{"description":"Verified followers page with cursor pagination.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifiedFollowersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/tweets/create-thread":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Create a Tweet Thread","description":"Create a tweet thread from an ordered list of texts, $0.0025 per call.","operationId":"create_tweet_thread_api_v3_twitter_tweets_create_thread_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateThreadQuery"}}},"required":true},"responses":{"200":{"description":"Created tweet ids in thread order.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateThreadResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/create":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Create a Tweet or Reply","description":"Posts a new tweet. To create a reply, provide the `reply_tweet_id`. This endpoint does not handle quote tweets,$0.0025 per call.","operationId":"create_tweet_twitter_tweets_create_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetQuery"}}},"required":true},"responses":{"200":{"description":"The ID and user ID of the newly created tweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/quote":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Create a Quote Tweet","description":"Posts a new tweet that quotes an existing tweet. Requires the URL of the tweet to be quoted and the new content,$0.0025 per call.","operationId":"quote_tweets_twitter_tweets_quote_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteTweetQuery"}}},"required":true},"responses":{"200":{"description":"The ID and user ID of the newly created quote tweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/post-tweet-without-cookie":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Post Tweet (Auto Cookie)","description":"Post a tweet using a random cookie from the pool, [cookie management](https://twitterxapi.com/cookies/management) \n$0.0025 per call.","operationId":"post_tweets_without_cookie_twitter_post_tweet_without_cookie_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetWithoutCookieQuery"}}},"required":true},"responses":{"200":{"description":"Tweet ID and user ID of posted tweet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/user/block":{"post":{"tags":["Users Endpoints"],"summary":"Block a User","description":"Block a user","operationId":"block_user_apiendpoint_twitter_user_block_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserQuery"}}},"required":true},"responses":{"200":{"description":"Blocked user information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"delete":{"tags":["Users Endpoints"],"summary":"Unblock User","description":"Unblock a user, $0.0025 per call.","operationId":"unblock_user_api_endpoint_twitter_user_block_delete","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserQuery"}}},"required":true},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/bookmark":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Bookmark a Tweet","description":"Adds a specific tweet to the bookmarks of the user associated with the provided cookie,$0.0025 per call.","operationId":"create_bookmark_endpoint_twitter_tweets__tweet_id__bookmark_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to bookmark.","title":"Tweet Id"},"description":"The ID of the tweet to bookmark."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookmarkBody"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Tweet Actions Endpoints"],"summary":"Delete Bookmark","description":"Delete a bookmark, $0.0025 per call.","operationId":"delete_bookmark_api_endpoint_twitter_tweets__tweet_id__bookmark_delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to delete.","title":"Tweet Id"},"description":"The ID of the tweet to delete."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteBookmarkQuery"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/delete-batch":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Delete One or More Tweets","description":"Deletes one or more tweets from a specified user account. This endpoint supports two modes:\n\n1.  **Single Tweet Deletion**: Provide a `target_id` to delete a specific tweet.\n2.  **Bulk Deletion**: Omit the `target_id` to delete **all** tweets from the user's account.\n\n**Warning**: The bulk deletion mode is irreversible and will permanently remove all tweets from the account. Use with extreme caution.","operationId":"delete_tweets_batch_twitter_tweets_delete_batch_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTweetQuery"}}},"required":true},"responses":{"200":{"description":"Success confirmation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/replies/page":{"post":{"tags":["Tweet Replies Endpoints"],"summary":"Get Replies by Page (Recommended)","description":"**Recommended** for fetching tweet replies. Uses cursor-based pagination and avoids timeouts on large threads. The first request (omit next_cursor) returns root_tweet plus the first batch of replies. Pass next_cursor from the previous response to fetch the next page until has_next_page is false. Pricing: $0.14 per 1,000 replies.","operationId":"get_replies_page_apiendpoint_twitter_tweets__tweet_id__replies_page_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to get replies for.","examples":["1803006263529541838"],"title":"Tweet Id"},"description":"The ID of the tweet to get replies for."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRepliesPageQuery"}}}},"responses":{"200":{"description":"Current page replies, optional root_tweet on first page, and pagination metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRepliesPageResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/{tweet_id}/replies/{count}":{"get":{"tags":["Tweet Replies Endpoints"],"summary":"Get Replies by Tweet ID (Legacy)","description":"Get replies for a specific tweet, returned as a nested Tweet object. $0.14/1000 replies. **For new integrations, use POST /twitter/tweets/{tweet_id}/replies/page instead** — it supports cursor pagination, is more reliable for large reply threads, and avoids request timeouts.","operationId":"get_replies_by_id_twitter_tweets__tweet_id__replies__count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to get replies for.","examples":["1803006263529541838"],"title":"Tweet Id"},"description":"The ID of the tweet to get replies for."},{"name":"count","in":"path","required":true,"schema":{"type":"integer","maximum":5000,"minimum":1,"description":"Maximum number of replies to return.","examples":[50],"title":"Count"},"description":"Maximum number of replies to return."},{"name":"sort_by","in":"query","required":false,"schema":{"anyOf":[{"enum":["Relevance","Recency","Likes"],"type":"string"},{"type":"null"}],"description":"Sort by Relevancy or Latest or Likes","examples":["Relevance","Recency","Likes"],"default":"Recency","title":"Sort By"},"description":"Sort by Relevancy or Latest or Likes"}],"responses":{"200":{"description":"The root Tweet object with its replies.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/sentiment":{"post":{"tags":["Sentiment Analysis Endpoints"],"summary":"Sentiment Analysis","description":"Sentiment Analysis, 50 credits per call.","operationId":"sentiment_analysis_endpoint_twitter_tweets_sentiment_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentimentAnalysisQuery"}}},"required":true},"responses":{"200":{"description":"A sentiment object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentimentAnalysisResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/users/by_ids":{"post":{"tags":["Users Endpoints"],"summary":"Users Details by ID","description":"Users Details by ID. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"users_details_by_id_api_twitter_users_by_ids_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"User Ids","description":"A list of Twitter user IDs. Provide multiple times for multiple users (e.g., `[44196397,1696160451770429440]`).","examples":[["44196397","1696160451770429440"]]}}},"required":true},"responses":{"200":{"description":"A list of User objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersDetailsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/x/account/verify":{"post":{"tags":["Users Endpoints"],"summary":"Verify Account Status","description":"Retrieves the verification metadata for a specific account. This endpoint identifies whether an account holds a **Blue Verified** status (authenticity check) or is an **Official Organization Affiliate** (gold/grey labels). The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"account_verify_api_x_account_verify_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Targets","description":"The IDs or usernames of the users.","examples":["1696160451770429440","elonmusk"]}}},"required":true},"responses":{"200":{"description":"A verification object containing the account's badge type and affiliation details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountVerifyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/users/status":{"post":{"tags":["Users Endpoints"],"summary":"Batch Get User account status","description":"Retrieve detailed account status for multiple Twitter users by their usernames. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"batch_get_user_account_status_endpoint","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Usernames","description":"A list of usernames of the users to get information for.","examples":[["elonmusk","sundarpichai"]]}}},"required":true},"responses":{"200":{"description":"A list of user account status strings. If user is suspended return suspended, if unfound return null.","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v2/dm/status":{"post":{"tags":["DM Endpoints"],"summary":"Check DM Permissions (V2)","description":"Retrieves the Direct Message (DM) availability status for a list of users. This endpoint checks if the specified accounts can receive messages based on their privacy settings, follow status, or verified permissions.","operationId":"dm_status_api_v2_v2_dm_status_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Targets","description":"The IDs or usernames of the users.","examples":["1696160451770429440","elonmusk"]}}},"required":true},"responses":{"200":{"description":"An object mapping user identifiers to their respective DM reachability status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DMStatusResponseV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/x/article":{"post":{"tags":["Article Endpoints"],"summary":"Batch Fetch X Articles","description":"Retrieves detailed article content for a specified list of X (Twitter) IDs. Use this endpoint to fetch full text, metadata, and media links for multiple posts in a single request. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"x_article_api_x_article_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Tweet Ids","description":"A list of tweet IDs to get the articles for.","examples":["1803006263529541838","1803006263529541839"]}}},"required":true},"responses":{"200":{"description":"A list of objects containing detailed article data for each valid ID provided.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/XArticleResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/x/article/{tweet_id}/markdown":{"get":{"tags":["Article Endpoints"],"summary":"Fetch Article as Markdown","description":"Retrieves the content of an X (Twitter) article formatted as **clean, valid Markdown**. The response body is delivered as a raw UTF-8 string, optimized for direct import into static site generators, Obsidian, Notion, or any standard Markdown editor.","operationId":"x_article_markdown_api_x_article__tweet_id__markdown_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The tweet ID of the article to get.","title":"Tweet Id"},"description":"The tweet ID of the article to get."}],"responses":{"200":{"description":"Raw Markdown string representing the article content.","content":{"text/plain":{"schema":{"type":"string"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tweet/detail":{"post":{"tags":["Tweets Endpoints"],"summary":"Get Tweet Detail (v2)","description":"Retrieve detailed information for one or more tweets by ID (no cookie required). The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"tweet_detail_v2_api_v2_tweet_detail_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Tweet Ids","description":"A list of Twitter tweet IDs. Max length is limited by your plan's QPS.","examples":["2076874251915743687","1803006263529541838"]}}},"required":true},"responses":{"200":{"description":"A list of tweet objects.","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/thread_by_id":{"post":{"tags":["Tweets Endpoints"],"summary":"Get Tweet Thread by ID","description":"Retrieve all tweets in a thread by tweet ID, sorted by latest.","operationId":"tweet_thread_by_id_twitter_tweets_thread_by_id_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetThreadByIdBody"}}},"required":true},"responses":{"200":{"description":"A list of tweets in the thread, sorted by latest.","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/lookup":{"post":{"tags":["Tweets Endpoints"],"summary":"Batch Get Tweets by ID","description":"Retrieve detailed information for multiple Tweets by their IDs. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"get_tweets_by_ids_twitter_tweets_lookup_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Tweet Ids","description":"A list of Twitter tweet IDs. Provide multiple times for multiple tweets (e.g., `[1803006263529541838,1803006263529541839]`).","examples":["1803006263529541838","1803006263529541839"]}}},"required":true},"responses":{"200":{"description":"A list of Tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTweetsByIdResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/send-dm":{"post":{"tags":["DM Endpoints"],"summary":"Send DM","description":"Send DM to a user, $0.0025 per call.","operationId":"send_dm_api_twitter_send_dm_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendDmQuery"}}},"required":true},"responses":{"200":{"description":"A message objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendDmResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/send-dm":{"post":{"tags":["DM Endpoints"],"summary":"Send DM (XChat v3)","description":"Send DM via XChat encrypted chat API (1:1 or existing group g...), optional image via media_urls (max 1) or video via video_url (mutually exclusive). $0.0025 per call.","operationId":"send_dm_api_v3_v3_twitter_send_dm_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendDmV3Query"}}},"required":true},"responses":{"200":{"description":"A message object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendDmResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/dm-history":{"post":{"tags":["DM Endpoints"],"summary":"Get DM History","description":"Get DM history","operationId":"dm_history_api_twitter_dm_history_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDmHistoryQuery"}}},"required":true},"responses":{"200":{"description":"A list of message objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDmHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/dm-history":{"post":{"tags":["DM Endpoints"],"summary":"Get DM History (XChat v3)","description":"Get DM history via XChat encrypted chat API. Use count for page size (10–200). Set all=true to follow has_more and return every page. Or paginate manually: when has_more is true, pass the oldest message's sequence_id as before.","operationId":"dm_history_api_v3_v3_twitter_dm_history_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDmHistoryV3Query"}}},"required":true},"responses":{"200":{"description":"Conversation messages with pagination info.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDmHistoryV3Response"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/dm-media":{"post":{"tags":["DM Endpoints"],"summary":"Get DM Media (XChat v3)","description":"Fetch one XChat media attachment and return a playable URL. Use conversation_id, media_hash_key, and optional key_version from /v3/twitter/dm-history attachments.","operationId":"dm_media_api_v3_v3_twitter_dm_media_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDmMediaV3Query"}}},"required":true},"responses":{"200":{"description":"Playable media URL and metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDmMediaV3Response"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/conversations":{"post":{"tags":["DM Endpoints"],"summary":"Get Conversations (XChat v3)","description":"Get XChat conversation list. Use count for page size (10–200). Set all=true to follow the inbox cursor and return every conversation.","operationId":"conversations_api_v3_v3_twitter_conversations_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConversationsV3Query"}}},"required":true},"responses":{"200":{"description":"A list of conversation objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConversationsV3Response"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/grok/ask":{"post":{"tags":["Grok Endpoints"],"summary":"Ask Grok","description":"Ask Grok with a Twitter account cookie.","operationId":"grok_ask_api_v3_twitter_grok_ask_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrokAskQuery"}}},"required":true},"responses":{"200":{"description":"Grok response result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrokAskResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/grok/history":{"post":{"tags":["Grok Endpoints"],"summary":"Get Grok History","description":"Get Grok conversation history list.","operationId":"grok_history_api_v3_twitter_grok_history_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrokHistoryQuery"}}},"required":true},"responses":{"200":{"description":"A list of Grok conversations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrokHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v3/twitter/grok/conversation":{"post":{"tags":["Grok Endpoints"],"summary":"Get Grok Conversation","description":"Get Grok conversation detail by conversation id.","operationId":"grok_conversation_api_v3_twitter_grok_conversation_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrokConversationQuery"}}},"required":true},"responses":{"200":{"description":"Grok conversation messages.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrokConversationResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/similar":{"get":{"tags":["Tweets Endpoints"],"summary":"Get Similar Tweets","description":"Get similar tweets","operationId":"similar_tweets_api_twitter_tweets__tweet_id__similar_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","title":"Tweet Id"}}],"responses":{"200":{"description":"A list of tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTweetsByIdResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/notifications":{"post":{"tags":["Notifications Endpoints"],"summary":"Get Notifications","description":"Get notifications,one minute most call 12 times","operationId":"get_notifications_apiendpoint_twitter_notifications_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetNotificationsQuery"}}},"required":true},"responses":{"200":{"description":"A list of notification objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetNotificationsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/search-user/{keyword}/{target_count}":{"get":{"tags":["Users Endpoints"],"summary":"Search User","description":"Search user","operationId":"search_user_api_endpoint_twitter_search_user__keyword___target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"keyword","in":"path","required":true,"schema":{"type":"string","description":"The keyword to search for.","title":"Keyword"},"description":"The keyword to search for."},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","description":"The number of users to return.","title":"Target Count"},"description":"The number of users to return."}],"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/{tweet_id}/retweeters/{target_count}":{"get":{"tags":["Tweet Engagement Endpoints"],"summary":"Get Retweeters","description":"Retrieve retweeters in a single request. Automatically paginates until count is reached or no more results. Minimum 10, maximum 5000 users.","operationId":"get_retweeters_endpoint_twitter_tweets__tweet_id__retweeters__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to get retweeters for.","title":"Tweet Id"},"description":"The ID of the tweet to get retweeters for."},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","maximum":5000,"minimum":1,"description":"Number of retweeters to return (minimum 10, maximum 5000).","examples":[100],"title":"Target Count"},"description":"Number of retweeters to return (minimum 10, maximum 5000)."}],"responses":{"200":{"description":"A list of user objects (up to count).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/retweeters/page":{"post":{"tags":["Tweet Engagement Endpoints"],"summary":"Get Retweeters by Page","description":"Retrieve retweeters using cursor-based pagination. Each page returns up to 20 users. Pass next_cursor from the previous response to continue.","operationId":"get_retweeters_page_endpoint_twitter_tweets_retweeters_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRetweetersCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 20 users) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRetweetersCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets-favoriters":{"post":{"tags":["Tweet Engagement Endpoints"],"summary":"Get Favoriters","description":"Get favoriters","operationId":"get_favoriters_api_endpoint_twitter_tweets_favoriters_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFavoritersQuery"}}},"required":true},"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/quotes":{"post":{"tags":["Tweet Engagement Endpoints"],"summary":"Get Quote Tweets","description":"Retrieve quote tweets in a single request. Automatically paginates until count is reached or no more results. Use `Latest` for chronological order or `Top` for ranked results. Minimum 10, maximum 5000 tweets.","operationId":"get_quotes_endpoint_twitter_tweets_quotes_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetQuotesQuery"}}},"required":true},"responses":{"200":{"description":"A list of quote tweet objects (up to count).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetQuotesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/quotes/page":{"post":{"tags":["Tweet Engagement Endpoints"],"summary":"Get Quote Tweets by Page","description":"Retrieve quote tweets using cursor-based pagination. Each page returns up to 20 tweets. Use `Latest` for chronological order or `Top` for ranked results. Pass next_cursor from the previous response to continue.","operationId":"get_quotes_page_endpoint_twitter_tweets_quotes_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetQuotesCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 20 quote tweets) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetQuotesCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/list/create":{"post":{"tags":["Lists Endpoints"],"summary":"Create List","description":"Create a list, $0.0025 per call.","operationId":"create_list_api_endpoint_twitter_list_create_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateListQuery"}}},"required":true},"responses":{"200":{"description":"A list object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/user/follow":{"post":{"tags":["Users Endpoints"],"summary":"Follow User","description":"Follow a user, $0.0025 per call.","operationId":"follow_user_api_endpoint_twitter_user_follow_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowUserQuery"}}},"required":true},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"delete":{"tags":["Users Endpoints"],"summary":"Unfollow User","description":"Unfollow a user, $0.0025 per call.","operationId":"unfollow_user_api_endpoint_twitter_user_follow_delete","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnfollowUserQuery"}}},"required":true},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnfollowUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/community/{community_id}/members/{target_count}":{"get":{"tags":["Communities Endpoints"],"summary":"Get Community Members","description":"Get community members","operationId":"get_community_members_endpoint_twitter_community__community_id__members__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"community_id","in":"path","required":true,"schema":{"type":"string","title":"Community Id"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/community/members/page":{"post":{"tags":["Communities Endpoints"],"summary":"Get Community Members by Page","description":"Retrieve a paginated list of community members using cursor-based pagination. Each page returns up to 20 members. Pass next_cursor from the previous response to continue. Pricing: $0.14 per 1,000 members.","operationId":"get_community_members_page_endpoint_twitter_community_members_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCommunityMembersCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 20 members) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCommunityMembersCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/community/{community_id}/tweets/{tweet_type}/{target_count}":{"get":{"tags":["Communities Endpoints"],"summary":"Get Community Tweets","description":"Get community tweets","operationId":"get_community_tweets_endpoint_twitter_community__community_id__tweets__tweet_type___target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"community_id","in":"path","required":true,"schema":{"type":"string","title":"Community Id"}},{"name":"tweet_type","in":"path","required":true,"schema":{"enum":["Top","Latest","Media"],"type":"string","title":"Tweet Type"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityTweetsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/community/tweets/page":{"post":{"tags":["Communities Endpoints"],"summary":"Get Community Tweets by Page","description":"Retrieve a paginated list of community tweets using cursor-based pagination. Each page returns up to 20 tweets. Pass next_cursor from the previous response to continue. Pricing: $0.14 per 1,000 tweets.","operationId":"get_community_tweets_page_endpoint_twitter_community_tweets_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCommunityTweetsCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 20 tweets) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCommunityTweetsCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/list/{list_id}/tweets/{target_count}":{"get":{"tags":["Lists Endpoints"],"summary":"Get List Tweets","description":"Get list tweets","operationId":"get_list_tweets_endpoint_twitter_list__list_id__tweets__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"string","title":"List Id"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListTweetsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/list/tweets/page":{"post":{"tags":["Lists Endpoints"],"summary":"Get List Tweets by Page","description":"Retrieve a paginated list of list tweets using cursor-based pagination. Each page returns up to 20 tweets. Pass next_cursor from the previous response to continue. Pricing: $0.14 per 1,000 tweets.","operationId":"get_list_tweets_page_endpoint_twitter_list_tweets_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetListTweetsCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 20 tweets) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetListTweetsCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/list/{list_id}/subscribers/{target_count}":{"get":{"tags":["Lists Endpoints"],"summary":"Get List Subscribers","description":"Get list subscribers","operationId":"get_list_subscribers_endpoint_twitter_list__list_id__subscribers__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"string","title":"List Id"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListSubscribersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/list/{list_id}/members/{target_count}":{"get":{"tags":["Lists Endpoints"],"summary":"Get List Members","description":"Get list members","operationId":"get_list_members_endpoint_twitter_list__list_id__members__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"string","title":"List Id"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListMembersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/list/members/page":{"post":{"tags":["Lists Endpoints"],"summary":"Get List Members by Page","description":"Retrieve a paginated list of list members using cursor-based pagination. Each page returns up to 20 members. Pass next_cursor from the previous response to continue. Pricing: $0.14 per 1,000 members.","operationId":"get_list_members_page_endpoint_twitter_list_members_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetListMembersCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 20 members) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetListMembersCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/list/search":{"post":{"tags":["Lists Endpoints"],"summary":"Search List","description":"Search list","operationId":"search_list_endpoint_twitter_list_search_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchListQuery"}}},"required":true},"responses":{"200":{"description":"A list of list objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/community/search":{"post":{"tags":["Communities Endpoints"],"summary":"Search Community","description":"Search community","operationId":"search_community_endpoint_twitter_community_search_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchCommunityQuery"}}},"required":true},"responses":{"200":{"description":"A list of community objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchCommunityResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/community/{community_id}":{"get":{"tags":["Communities Endpoints"],"summary":"Get Community","description":"Get community","operationId":"get_community_endpoint_twitter_community__community_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"community_id","in":"path","required":true,"schema":{"type":"string","title":"Community Id"}}],"responses":{"200":{"description":"A community object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCommunityResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/community/search-tweets":{"post":{"tags":["Communities Endpoints"],"summary":"Search Community Tweets","description":"Search community tweets","operationId":"search_community_tweets_endpoint_twitter_community_search_tweets_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchCommunityTweetsQuery"}}},"required":true},"responses":{"200":{"description":"A list of tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityTweetsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/profile":{"post":{"tags":["Twitter Profile Actions Endpoints"],"summary":"Modify the profile bio, image and banner of the user","description":"Modify the profile bio, image and banner of the user","operationId":"modify_profile_bio_endpoint_twitter_profile_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyProfileBioRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyProfileBioResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/action":{"post":{"tags":["Social Media Services Endpoints"],"summary":"Purchase Twitter Engagement Services","description":"Purchase various Twitter engagement services to boost your social media presence.\n\n**Available Services:**\n- **Likes**: Increase tweet likes (10-5,000 per order, $1/100)\n- **Retweets**: Boost retweets (10-500 per order, $2/100)  \n- **Views**: Enhance tweet views (100-9999999 per order, $1/1000)\n- **Bookmarks**: Add bookmarks (10-5000 per order, $2/100)\n- **Followers**: Gain followers (10-30,000 per order, $2/100)\n\n**How it works:**\n1. Submit your order with service type, tweet URL, and quantity\n2. Receive an order ID to track your purchase\n3. Monitor progress via the status endpoint\n4. Services are delivered gradually over time for natural growth\n\n**Important Notes:**\n- All services are delivered by real accounts\n- Processing time varies by service type and quantity\n- Orders cannot be cancelled once processing begins\n- Ensure your Twitter account is public for optimal delivery","operationId":"execute_twitter_action_twitter_action_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseTwitterActionRequest"}}},"required":true},"responses":{"200":{"description":"Returns order ID and confirmation details for tracking your purchase","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseTwitterActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/action/order-status":{"get":{"tags":["Social Media Services Endpoints"],"summary":"Check Order Status","description":"Check the delivery status and progress of your Twitter engagement order.\n\n**Response Details:**\n- **order_id**: Unique identifier for your order\n- **start_count**: Initial engagement count when order began\n- **fee**: Total cost of the order in USD\n- **status**: Current order status (pending, in_progress, completed, failed)\n\n**Order Status Types:**\n- `pending`: Order received and queued for processing\n- `in_progress`: Services are being delivered\n- `completed`: All services have been delivered successfully\n- `partial`: Some services delivered (may continue processing)\n- `failed`: Order could not be completed (contact support)\n\n**Note**: Orders are processed 24/7 but delivery speed varies by service type and current queue volume.","operationId":"get_order_status_twitter_action_order_status_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"order_id","in":"query","required":true,"schema":{"type":"integer","title":"Order Id"}}],"responses":{"200":{"description":"Detailed status information including progress, cost, and delivery status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwitterActionStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/global-trending/countries":{"get":{"tags":["Trending Endpoints"],"summary":"List Global Trend Countries","description":"Get the supported country and global options that can be used to filter trending tweets.","operationId":"get_global_trending_countries_api_twitter_global_trending_countries_get","responses":{"200":{"description":"Country filter options for global trending tweets.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/global-trending/topics":{"get":{"tags":["Trending Endpoints"],"summary":"List Global Trend Topics","description":"Get the topic categories available for filtering global trending tweets.","operationId":"get_global_trending_topics_api_twitter_global_trending_topics_get","responses":{"200":{"description":"Topic filter options for global trending tweets.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/global-trending/contents":{"get":{"tags":["Trending Endpoints"],"summary":"List Global Trend Content Tags","description":"Get content tags for a selected country and topic so tweets can be filtered more precisely.","operationId":"get_global_trending_contents_api_twitter_global_trending_contents_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"country","in":"query","required":true,"schema":{"type":"string","description":"Country name or slug returned by /twitter/global-trending/countries","title":"Country"},"description":"Country name or slug returned by /twitter/global-trending/countries"},{"name":"topic","in":"query","required":true,"schema":{"type":"string","description":"Topic name or slug returned by /twitter/global-trending/topics","title":"Topic"},"description":"Topic name or slug returned by /twitter/global-trending/topics"}],"responses":{"200":{"description":"Content tag options for the selected country and topic.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/global-trending/tweets":{"get":{"tags":["Trending Endpoints"],"summary":"Get Global Trending Tweets","description":"Get trending tweets for a country, with optional topic and content tag filters.","operationId":"get_global_trending_tweets_api_twitter_global_trending_tweets_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"country","in":"query","required":true,"schema":{"type":"string","description":"Country name or slug returned by /twitter/global-trending/countries","title":"Country"},"description":"Country name or slug returned by /twitter/global-trending/countries"},{"name":"topic","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Optional topic name or slug returned by /twitter/global-trending/topics","title":"Topic"},"description":"Optional topic name or slug returned by /twitter/global-trending/topics"},{"name":"content","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Optional content tag returned by /twitter/global-trending/contents","title":"Content"},"description":"Optional content tag returned by /twitter/global-trending/contents"},{"name":"count","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of tweets to return.","default":20,"title":"Count"},"description":"Maximum number of tweets to return."}],"responses":{"200":{"description":"Trending tweets matching the selected filters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/{country}/trending":{"get":{"tags":["Trending Endpoints"],"summary":"Get Trending Topics","description":"Get X Explore trending topics for a given country. Use 'worldwide' for account-default trends or a country slug such as 'united-states'.","operationId":"get_trending_api_twitter__country__trending_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"country","in":"path","required":true,"schema":{"enum":["worldwide","algeria","argentina","australia","austria","bahrain","belarus","belgium","brazil","canada","chile","colombia","denmark","dominican-republic","ecuador","egypt","france","germany","ghana","greece","guatemala","india","indonesia","ireland","israel","italy","japan","jordan","kenya","korea","kuwait","latvia","lebanon","malaysia","mexico","netherlands","new-zealand","nigeria","norway","oman","pakistan","panama","peru","philippines","poland","portugal","qatar","russia","saudi-arabia","singapore","south-africa","spain","sweden","switzerland","thailand","turkey","ukraine","united-arab-emirates","united-kingdom","united-states","venezuela","vietnam","zimbabwe"],"type":"string","description":"Country slug or 'worldwide' for default explore trends","examples":["worldwide","united-states","japan","united-kingdom","zimbabwe"],"title":"Country"},"description":"Country slug or 'worldwide' for default explore trends"}],"responses":{"200":{"description":"Standard response with list of trending topics in data field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/{screen_name}/tweets-replies/{count}":{"get":{"tags":["All Tweets Replies Endpoints"],"summary":"Get All Tweets and Replies by User","description":"Get all tweets and replies posted by a specific Twitter user. Returns a comprehensive list including both original tweets and reply tweets posted by the user. $0.14/1000 items.","operationId":"get_all_tweets_replies_api_twitter__screen_name__tweets_replies__count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name (username) of the Twitter user to get all tweets and replies from.","examples":["elonmusk"],"title":"Screen Name"},"description":"The screen name (username) of the Twitter user to get all tweets and replies from."},{"name":"count","in":"path","required":true,"schema":{"type":"integer","maximum":10000000,"minimum":1,"description":"Maximum number of tweets and replies to return.","examples":[50],"title":"Count"},"description":"Maximum number of tweets and replies to return."}],"responses":{"200":{"description":"A list of all tweets and replies posted by the user, including both original tweets and reply tweets.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/{screen_name}/timeline/page":{"post":{"tags":["Timeline Endpoints"],"summary":"Get User Timeline by Page","description":"Fetch a single page from a user's timeline using POST. Pass next_cursor in the body to continue.","operationId":"get_user_timeline_page_api_twitter__screen_name__timeline_page_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"Twitter screen name of the target user (with or without @).","examples":["axiaisacat"],"title":"Screen Name"},"description":"Twitter screen name of the target user (with or without @)."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTimelinePageQuery"}}}},"responses":{"200":{"description":"Current page data and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTimelinePageResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/{screen_name}/timeline":{"post":{"tags":["Timeline Endpoints"],"summary":"Get User Timeline and Fill Count","description":"Fetch a user's timeline across pages using POST and try to fill the requested count.","operationId":"get_user_timeline_fill_api_twitter__screen_name__timeline_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"Twitter screen name of the target user (with or without @).","examples":["axiaisacat"],"title":"Screen Name"},"description":"Twitter screen name of the target user (with or without @)."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTimelineFillQuery"}}}},"responses":{"200":{"description":"All fetched tweets and pagination summary.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTimelineResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets-replies/page":{"post":{"tags":["All Tweets Replies Endpoints"],"summary":"Get All Tweets and Replies by User by Page","description":"Retrieve a paginated list of a user's tweets and replies using cursor-based pagination. Each page returns up to 20 items. Pass next_cursor from the previous response to continue. Pricing: $0.14 per 1,000 items.","operationId":"get_all_tweets_replies_cursor_api_twitter_tweets_replies_page_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAllTweetsRepliesCursorQuery"}}},"required":true},"responses":{"200":{"description":"Current page data (up to 20 items) and pagination metadata (has_next_page, next_cursor).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAllTweetsRepliesCursorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/account/based":{"post":{"tags":["Twitter Account Based in Endpoints"],"summary":"Get Twitter Account Based in","description":"Get Twitter Account Based in. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.","operationId":"get_twitter_account_based_api_twitter_account_based_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Screen Names","description":"A json list of Twitter user screen names. Provide multiple times for multiple users (e.g., `[elonmusk,sundarpichai]`).","examples":["screen_name","elonmusk"]}}},"required":true},"responses":{"200":{"description":"The Twitter Account Based in data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwitterAccountBasedStandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/{screen_name}/about":{"get":{"tags":["Twitter User About Endpoints"],"summary":"Get Twitter User About by Screen Name","description":"Get Twitter User About for a specific twitter user. get account_based_in,location_accurate","operationId":"get_twitter_user_about_by_screen_name_api_twitter__screen_name__about_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name of the twitter user to get about.","examples":"elonmusk","title":"Screen Name"},"description":"The screen name of the twitter user to get about."}],"responses":{"200":{"description":"The Twitter User About object with its information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwitterUserAboutStandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/balance":{"get":{"tags":["Balance Endpoints"],"summary":"Get Balance","description":"Get Balance","operationId":"get_balance_api_balance_get","responses":{"200":{"description":"The balance data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/x/articles/draft":{"post":{"tags":["Article Endpoints"],"summary":"[Step 1/5] Create a new article draft","description":"**Step 1 of 5** — Create an empty draft and get an `article_id`.\n\nThe `article_id` returned here is required by all subsequent steps.\n\n**Full flow:**\n1. ➡️ `POST /x/articles/draft` — get `article_id`\n2. `PUT  /x/articles/{article_id}/cover` — *(optional)* set cover image\n3. `PUT  /x/articles/{article_id}/title` — set title\n4. `PUT  /x/articles/{article_id}/content` — set body (Markdown)\n5. `POST /x/articles/{article_id}/publish` — publish and get `tweet_id`\n\n> 💡 **Tip:** For full control (e.g. preview before publish, retry individual steps), use the step-by-step flow above. Use `POST /x/articles/publish` only for quick one-shot publishing.","operationId":"article_create_draft_x_articles_draft_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleCreateDraftBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleDraftResponse"}}}},"429":{"description":"Daily tweet limit reached","content":{"application/json":{"example":{"code":429,"msg":"Daily tweet limit reached, please try again tomorrow."}}}},"500":{"description":"Server error","content":{"application/json":{"example":{"code":500,"msg":"Internal server error"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/x/articles/{article_id}/cover":{"put":{"tags":["Article Endpoints"],"summary":"[Step 2/5] Upload and set article cover image (optional)","description":"**Step 2 of 5 (optional)** — Upload a cover image and attach it to the draft.\n\n- `article_id`: obtained from Step 1\n- `cover_image`: an `https://` URL or a local file path\n\nThis step can be skipped if you don't need a cover image.","operationId":"article_update_cover_x_articles__article_id__cover_put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"article_id","in":"path","required":true,"schema":{"type":"string","title":"Article Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleUpdateCoverBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleCoverResponse"}}}},"429":{"description":"Daily tweet limit reached","content":{"application/json":{"example":{"code":429,"msg":"Daily tweet limit reached, please try again tomorrow."}}}},"500":{"description":"Server error","content":{"application/json":{"example":{"code":500,"msg":"Internal server error"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/x/articles/{article_id}/title":{"put":{"tags":["Article Endpoints"],"summary":"[Step 3/5] Set article title","description":"**Step 3 of 5** — Set the title of the draft.\n\n- `article_id`: obtained from Step 1\n- `title`: plain text, no Markdown","operationId":"article_update_title_x_articles__article_id__title_put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"article_id","in":"path","required":true,"schema":{"type":"string","title":"Article Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleUpdateTitleBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleTitleResponse"}}}},"429":{"description":"Daily tweet limit reached","content":{"application/json":{"example":{"code":429,"msg":"Daily tweet limit reached, please try again tomorrow."}}}},"500":{"description":"Server error","content":{"application/json":{"example":{"code":500,"msg":"Internal server error"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/x/articles/{article_id}/content":{"put":{"tags":["Article Endpoints"],"summary":"[Step 4/5] Set article content from Markdown","description":"**Step 4 of 5** — Set the article body by providing Markdown text.\n\n- `article_id`: obtained from Step 1\n- `markdown`: supports headings, bold/italic, lists, code blocks, and inline images (`![alt](url)`)\n\nInline images are automatically uploaded to X and embedded in the article.","operationId":"article_update_content_x_articles__article_id__content_put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"article_id","in":"path","required":true,"schema":{"type":"string","title":"Article Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleUpdateContentBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleContentResponse"}}}},"429":{"description":"Daily tweet limit reached","content":{"application/json":{"example":{"code":429,"msg":"Daily tweet limit reached, please try again tomorrow."}}}},"500":{"description":"Server error","content":{"application/json":{"example":{"code":500,"msg":"Internal server error"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/x/articles/{article_id}/publish":{"post":{"tags":["Article Endpoints"],"summary":"[Step 5/5] Publish an article draft","description":"**Step 5 of 5** — Publish the draft. Returns `article_id` and `tweet_id`.\n\n- `article_id`: obtained from Step 1\n- `visibility`: `Public` (default) / `Followers` / `Mentioned`\n\n⚠️ Make sure Steps 3 and 4 are completed before publishing. A draft without a title or content can still be published but will appear empty.","operationId":"article_publish_x_articles__article_id__publish_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"article_id","in":"path","required":true,"schema":{"type":"string","title":"Article Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticlePublishBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticlePublishResponse"}}}},"429":{"description":"Daily tweet limit reached","content":{"application/json":{"example":{"code":429,"msg":"Daily tweet limit reached, please try again tomorrow."}}}},"500":{"description":"Server error","content":{"application/json":{"example":{"code":500,"msg":"Internal server error"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/x/articles/publish":{"post":{"tags":["Article Endpoints"],"summary":"[Quick] One-step article publish","description":"Publish a complete X Article in a single call. Suitable for simple, one-shot use cases.\n\n> ⚠️ **Recommended: use the step-by-step flow instead.**\n> The step-by-step flow gives you full control — preview the draft before publishing,\n> retry individual steps on failure, and reuse the same `article_id` across multiple calls.\n>\n> Step-by-step endpoints:\n> 1. `POST /x/articles/draft` → get `article_id`\n> 2. `PUT  /x/articles/{article_id}/cover` *(optional)*\n> 3. `PUT  /x/articles/{article_id}/title`\n> 4. `PUT  /x/articles/{article_id}/content`\n> 5. `POST /x/articles/{article_id}/publish` → get `tweet_id`\n\n**Returns** `article_id` and `tweet_id` on success.","operationId":"article_publish_all_in_one_x_articles_publish_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticlePublishAllInOneBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticlePublishResponse"}}}},"429":{"description":"Daily tweet limit reached","content":{"application/json":{"example":{"code":429,"msg":"Daily tweet limit reached, please try again tomorrow."}}}},"500":{"description":"Server error","content":{"application/json":{"example":{"code":500,"msg":"Internal server error"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}}},"components":{"schemas":{"AccountVerifyModel":{"properties":{"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id","description":"The ID of the user."},"screen_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Screen Name","description":"The username of the user."},"is_blue_verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Blue Verified"},"is_verified_organization_affiliate":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Verified Organization Affiliate"},"is_verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Verified","description":"True if is_blue_verified or is_verified_organization_affiliate is True"}},"type":"object","title":"AccountVerifyModel"},"AccountVerifyResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"items":{"$ref":"#/components/schemas/AccountVerifyModel"},"type":"array","title":"Data","description":"A list of account verification objects."}},"type":"object","required":["code","msg","data"],"title":"AccountVerifyResponse"},"AdvancedSearchCursorQuery":{"properties":{"searchTerms":{"items":{"type":"string"},"type":"array","title":"Searchterms","description":"List of search terms used to build the Twitter query."},"sortBy":{"type":"string","title":"Sortby","description":"Sort mode for search results. Supported values: 'Latest' or 'Top'."},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor","description":"Cursor returned by the previous page. Leave empty to fetch the first page.","examples":["1234567890"]}},"type":"object","required":["searchTerms","sortBy"],"title":"AdvancedSearchCursorQuery"},"AdvancedSearchCursorResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}]},"type":"array","title":"Data","description":"Current page tweet items."},"has_next_page":{"type":"boolean","title":"Has Next Page","description":"Whether another page is available."},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor","description":"Use this cursor to fetch the next page when has_next_page is true.","examples":["1234567890"]}},"type":"object","required":["data","has_next_page"],"title":"AdvancedSearchCursorResponse"},"ArticleBlock":{"properties":{"type":{"type":"string","title":"Type","description":"The type of the article block."},"text":{"type":"string","title":"Text","description":"The text of the article block."},"entityRanges":{"items":{"$ref":"#/components/schemas/ArticleBlockRange"},"type":"array","title":"Entityranges","description":"The entity ranges of the article block."}},"type":"object","required":["type","text"],"title":"ArticleBlock"},"ArticleBlockRange":{"properties":{"key":{"type":"integer","title":"Key","description":"The key of the entity range."},"length":{"type":"integer","title":"Length","description":"The length of the entity range."},"offset":{"type":"integer","title":"Offset","description":"The offset of the entity range."}},"type":"object","required":["key","length","offset"],"title":"ArticleBlockRange"},"ArticleContentData":{"properties":{"blocks":{"type":"integer","title":"Blocks","description":"Number of content blocks parsed from the Markdown (paragraphs, headings, images, etc.)"}},"type":"object","required":["blocks"],"title":"ArticleContentData"},"ArticleContentResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"200 = success, 429 = rate limit, 500 = server error"},"msg":{"type":"string","title":"Msg","description":"Human-readable result message"},"data":{"anyOf":[{"$ref":"#/components/schemas/ArticleContentData"},{"type":"null"}]}},"type":"object","required":["code","msg"],"title":"ArticleContentResponse"},"ArticleCoverData":{"properties":{"media_id":{"type":"string","title":"Media Id","description":"Media ID of the uploaded cover image on X"}},"type":"object","required":["media_id"],"title":"ArticleCoverData"},"ArticleCoverResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"200 = success, 429 = rate limit, 500 = server error"},"msg":{"type":"string","title":"Msg","description":"Human-readable result message"},"data":{"anyOf":[{"$ref":"#/components/schemas/ArticleCoverData"},{"type":"null"}]}},"type":"object","required":["code","msg"],"title":"ArticleCoverResponse"},"ArticleCreateDraftBody":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter cookie string (auth_token=...; ct0=...; twid=...)"}},"type":"object","required":["cookie"],"title":"ArticleCreateDraftBody"},"ArticleDraftData":{"properties":{"article_id":{"type":"string","title":"Article Id","description":"Unique article draft ID, required by all subsequent steps"},"preview_url":{"type":"string","title":"Preview Url","description":"URL to preview the draft in X composer: https://x.com/compose/articles/edit/{article_id}"}},"type":"object","required":["article_id","preview_url"],"title":"ArticleDraftData"},"ArticleDraftResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"200 = success, 429 = rate limit, 500 = server error"},"msg":{"type":"string","title":"Msg","description":"Human-readable result message"},"data":{"anyOf":[{"$ref":"#/components/schemas/ArticleDraftData"},{"type":"null"}]}},"type":"object","required":["code","msg"],"title":"ArticleDraftResponse"},"ArticlePublishAllInOneBody":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter cookie string (auth_token=...; ct0=...; twid=...)"},"title":{"type":"string","title":"Title","description":"Article title"},"markdown":{"type":"string","title":"Markdown","description":"Article body in Markdown format"},"cover_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cover Image","description":"Cover image: https URL or local file path (optional)"},"visibility":{"type":"string","title":"Visibility","description":"Visibility: Public / Followers / Mentioned","default":"Public"}},"type":"object","required":["cookie","title","markdown"],"title":"ArticlePublishAllInOneBody"},"ArticlePublishBody":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter cookie string"},"visibility":{"type":"string","title":"Visibility
[...]
