{"openapi":"3.1.0","info":{"title":"Twitter API Service","description":"\n        A comprehensive Twitter API service that provides various Twitter operations including:\n        \n        * **Search Operations**: Advanced search, hashtags, cashtags\n        * **Tweet Operations**: Post, like, retweet, quote, bookmark, delete\n        * **User Operations**: Batch user information retrieval\n        * **Influencer Operations**: Get tweets from top influencers\n        \n        All endpoints return standardized responses in the format:\n        ```json\n        {\n            \"code\": 200,\n            \"msg\": \"success\", \n            \"data\": {...}\n        }\n        ```\n        \n        ## Authentication\n        \n        This API uses Bearer token authentication. Include your token in the Authorization header:\n        ```\n        Authorization: Bearer your_token_here\n        ```\n        ","contact":{"name":"API Support","email":"support@twitterxapi.com"},"license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.twitterapi.cheap","description":"Development server"}],"paths":{"/twitter/{auth_token}/cookie":{"get":{"tags":["Cookie Endpoints"],"summary":"Get cookie by auth token","description":"Retrieve Twitter authentication cookie using the provided auth token. This endpoint converts an auth token into a usable cookie for Twitter API requests.","operationId":"get_cookie_by_auth_token_endpoint_twitter__auth_token__cookie_get","parameters":[{"name":"auth_token","in":"path","required":true,"schema":{"type":"string","title":"Auth Token"}}],"responses":{"200":{"description":"Twitter authentication cookie","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/advanced_search":{"post":{"tags":["Search Endpoints"],"summary":"Advanced Twitter Search","description":"Perform advanced search on Twitter with multiple search terms and filters, $0.14/1000 tweets.","operationId":"get_data_twitter_advanced_search_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets matching search criteria","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/cashtags":{"post":{"tags":["Search Endpoints"],"summary":"Search Cashtags","description":"Search for tweets containing specific cashtags (stock symbols), $0.14/1000 tweets.","operationId":"get_cashtags_twitter_cashtags_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashtagsQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets containing the specified cashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/hashtags":{"post":{"tags":["Search Endpoints"],"summary":"Search Hashtags","description":"Search for tweets containing specific hashtags","operationId":"get_hashtags_twitter_hashtags_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashtagsQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets containing the specified hashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/like":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Like a Tweet","description":"Likes a specific tweet on behalf of the user associated with the provided cookie,$0.0025 per call.","operationId":"like_tweet_endpoint_twitter_tweets__tweet_id__like_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The numeric ID of the tweet to like.","title":"Tweet Id"},"description":"The numeric ID of the tweet to like."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeActionBody"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Tweet Actions Endpoints"],"summary":"Unlike a Tweet","description":"Unlike a tweet, $0.0025 per call.","operationId":"unfavorite_tweet_api_endpoint_twitter_tweets__tweet_id__like_delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to delete.","title":"Tweet Id"},"description":"The ID of the tweet to delete."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnfavoriteTweetQuery"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/{tweet_id}/retweet":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Retweet a Tweet","description":"Retweets a specific tweet on behalf of the user associated with the provided cookie,$0.0025 per call.","operationId":"retweet_tweet_endpoint_twitter_tweets__tweet_id__retweet_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to retweet.","title":"Tweet Id"},"description":"The ID of the tweet to retweet."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetweetActionBody"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Tweet Actions Endpoints"],"summary":"Delete Retweet","description":"Delete a retweet, $0.0025 per call.","operationId":"delete_retweet_api_endpoint_twitter_tweets__tweet_id__retweet_delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to delete.","title":"Tweet Id"},"description":"The ID of the tweet to delete."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteRetweetQuery"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/users":{"post":{"tags":["Users Endpoints"],"summary":"Get Multiple Users by Usernames","description":"Retrieve detailed profile information for multiple Twitter users by their usernames or profile URLs, $0.14/1000 users.","operationId":"get_users_by_usernames_twitter_users_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Usernames","description":"A list of Twitter usernames or profile URLs. Provide multiple times for multiple users (e.g., `[elonmusk,sundarpichai]`).","examples":["elonmusk","sundarpichai"]}}},"required":true},"responses":{"200":{"description":"A list of user profile objects. Unfound users are represented by `null`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUsersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/latest-followers/{screen_name}":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get recently Followers","description":"Get recently followers of a user, $0.14/1000 followers.","operationId":"get_latest_followers_apiendpoint_twitter_latest_followers__screen_name__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name of the user to get recently followers.","examples":["elonmusk"],"title":"Screen Name"},"description":"The screen name of the user to get recently followers."}],"responses":{"200":{"description":"A list of user info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestFollowersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/latest-following/{screen_name}":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get recently Following","description":"Get recently following of a user, $0.14/1000 following.","operationId":"get_latest_following_apiendpoint_twitter_latest_following__screen_name__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name of the user to get recently following.","examples":["elonmusk"],"title":"Screen Name"},"description":"The screen name of the user to get recently following."}],"responses":{"200":{"description":"A list of user info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestFollowingsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/followers/{screen_name}/{count}":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get Followers","description":"Get followers of a user, $0.14/1000 followers.","operationId":"get_followers_apiendpoint_twitter_followers__screen_name___count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name of the user to get followers.","examples":["elonmusk"],"title":"Screen Name"},"description":"The screen name of the user to get followers."},{"name":"count","in":"path","required":true,"schema":{"type":"integer","description":"The number of followers to get.","examples":[200],"title":"Count"},"description":"The number of followers to get."}],"responses":{"200":{"description":"A list of user info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFollowersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/following/{screen_name}/{count}":{"get":{"tags":["Followers & Following Endpoints"],"summary":"Get Following","description":"Get following of a user, $0.14/1000 following.","operationId":"get_following_apiendpoint_twitter_following__screen_name___count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"screen_name","in":"path","required":true,"schema":{"type":"string","description":"The screen name of the user to get following.","examples":["elonmusk"],"title":"Screen Name"},"description":"The screen name of the user to get following."},{"name":"count","in":"path","required":true,"schema":{"type":"integer","description":"The number of following to get.","examples":[200],"title":"Count"},"description":"The number of following to get."}],"responses":{"200":{"description":"A list of user info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFollowingResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/create":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Create a Tweet or Reply","description":"Posts a new tweet. To create a reply, provide the `reply_tweet_id`. This endpoint does not handle quote tweets,$0.0025 per call.","operationId":"create_tweet_twitter_tweets_create_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetQuery"}}},"required":true},"responses":{"200":{"description":"The ID and user ID of the newly created tweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/quote":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Create a Quote Tweet","description":"Posts a new tweet that quotes an existing tweet. Requires the URL of the tweet to be quoted and the new content,$0.0025 per call.","operationId":"quote_tweets_twitter_tweets_quote_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteTweetQuery"}}},"required":true},"responses":{"200":{"description":"The ID and user ID of the newly created quote tweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/post-tweet-without-cookie":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Post Tweet (Auto Cookie)","description":"Post a tweet using a random cookie from the pool, [cookie management](https://twitterxapi.com/cookies/management) \n$0.0025 per call.","operationId":"post_tweets_without_cookie_twitter_post_tweet_without_cookie_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetWithoutCookieQuery"}}},"required":true},"responses":{"200":{"description":"Tweet ID and user ID of posted tweet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/user/block":{"post":{"tags":["Users Endpoints"],"summary":"Block a User","description":"Block a user","operationId":"block_user_apiendpoint_twitter_user_block_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserQuery"}}},"required":true},"responses":{"200":{"description":"Blocked user information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"delete":{"tags":["Users Endpoints"],"summary":"Unblock User","description":"Unblock a user, $0.0025 per call.","operationId":"unblock_user_api_endpoint_twitter_user_block_delete","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserQuery"}}},"required":true},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/bookmark":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Bookmark a Tweet","description":"Adds a specific tweet to the bookmarks of the user associated with the provided cookie,$0.0025 per call.","operationId":"create_bookmark_endpoint_twitter_tweets__tweet_id__bookmark_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to bookmark.","title":"Tweet Id"},"description":"The ID of the tweet to bookmark."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookmarkBody"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Tweet Actions Endpoints"],"summary":"Delete Bookmark","description":"Delete a bookmark, $0.0025 per call.","operationId":"delete_bookmark_api_endpoint_twitter_tweets__tweet_id__bookmark_delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to delete.","title":"Tweet Id"},"description":"The ID of the tweet to delete."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteBookmarkQuery"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/delete-batch":{"post":{"tags":["Tweet Actions Endpoints"],"summary":"Delete One or More Tweets","description":"Deletes one or more tweets from a specified user account. This endpoint supports two modes:\n\n1.  **Single Tweet Deletion**: Provide a `target_id` to delete a specific tweet.\n2.  **Bulk Deletion**: Omit the `target_id` to delete **all** tweets from the user's account.\n\n**Warning**: The bulk deletion mode is irreversible and will permanently remove all tweets from the account. Use with extreme caution.","operationId":"delete_tweets_batch_twitter_tweets_delete_batch_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTweetQuery"}}},"required":true},"responses":{"200":{"description":"Success confirmation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/replies/{count}":{"get":{"tags":["Tweet Replies Endpoints"],"summary":"Get Replies by Tweet ID","description":"Get replies for a specific tweet, returned as a nested Tweet object. $0.14/1000 replies.","operationId":"get_replies_by_id_twitter_tweets__tweet_id__replies__count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to get replies for.","examples":["1803006263529541838"],"title":"Tweet Id"},"description":"The ID of the tweet to get replies for."},{"name":"count","in":"path","required":true,"schema":{"type":"integer","maximum":5000,"minimum":1,"description":"Maximum number of replies to return.","examples":[50],"title":"Count"},"description":"Maximum number of replies to return."},{"name":"sort_by","in":"query","required":false,"schema":{"anyOf":[{"enum":["Relevance","Recency","Likes"],"type":"string"},{"type":"null"}],"description":"Sort by Relevancy or Latest or Likes","examples":["Relevance","Recency","Likes"],"default":"Recency","title":"Sort By"},"description":"Sort by Relevancy or Latest or Likes"}],"responses":{"200":{"description":"The root Tweet object with its replies.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/sentiment":{"post":{"tags":["Sentiment Analysis Endpoints"],"summary":"Sentiment Analysis","description":"Sentiment Analysis, 50 credits per call.","operationId":"sentiment_analysis_endpoint_twitter_tweets_sentiment_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentimentAnalysisQuery"}}},"required":true},"responses":{"200":{"description":"A sentiment object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentimentAnalysisResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/lookup":{"post":{"tags":["Tweets Endpoints"],"summary":"Batch Get Tweets by ID","description":"Retrieve detailed information for multiple Tweets by their IDs.","operationId":"get_tweets_by_ids_twitter_tweets_lookup_post","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Tweet Ids","description":"A list of Twitter tweet IDs. Provide multiple times for multiple tweets (e.g., `[1803006263529541838,1803006263529541839]`).","examples":["1803006263529541838","1803006263529541839"]}}},"required":true},"responses":{"200":{"description":"A list of Tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTweetsByIdResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/send-dm":{"post":{"tags":["User Actions Endpoints"],"summary":"Send DM","description":"Send DM to a user","operationId":"send_dm_api_twitter_send_dm_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendDmQuery"}}},"required":true},"responses":{"200":{"description":"A message objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendDmResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/dm-history":{"post":{"tags":["User Actions Endpoints"],"summary":"Get DM History","description":"Get DM history","operationId":"dm_history_api_twitter_dm_history_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDmHistoryQuery"}}},"required":true},"responses":{"200":{"description":"A list of message objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDmHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/similar":{"get":{"tags":["Tweets Endpoints"],"summary":"Get Similar Tweets","description":"Get similar tweets","operationId":"similar_tweets_api_twitter_tweets__tweet_id__similar_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","title":"Tweet Id"}}],"responses":{"200":{"description":"A list of tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTweetsByIdResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/notifications":{"post":{"tags":["Notifications Endpoints"],"summary":"Get Notifications","description":"Get notifications,one minute most call 12 times","operationId":"get_notifications_apiendpoint_twitter_notifications_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetNotificationsQuery"}}},"required":true},"responses":{"200":{"description":"A list of notification objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetNotificationsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/search-user/{keyword}/{target_count}":{"get":{"tags":["Users Endpoints"],"summary":"Search User","description":"Search user","operationId":"search_user_api_endpoint_twitter_search_user__keyword___target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"keyword","in":"path","required":true,"schema":{"type":"string","description":"The keyword to search for.","title":"Keyword"},"description":"The keyword to search for."},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","description":"The number of users to return.","title":"Target Count"},"description":"The number of users to return."}],"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/{tweet_id}/retweeters/{target_count}":{"get":{"tags":["Tweet Engagement Endpoints"],"summary":"Get Retweeters","description":"Get retweeters","operationId":"get_retweeters_api_endpoint_twitter_tweets__tweet_id__retweeters__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","title":"Tweet Id"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets-favoriters":{"post":{"tags":["Tweet Engagement Endpoints"],"summary":"Get Favoriters","description":"Get favoriters","operationId":"get_favoriters_api_endpoint_twitter_tweets_favoriters_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFavoritersQuery"}}},"required":true},"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/list/create":{"post":{"tags":["Lists Endpoints"],"summary":"Create List","description":"Create a list, $0.0025 per call.","operationId":"create_list_api_endpoint_twitter_list_create_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateListQuery"}}},"required":true},"responses":{"200":{"description":"A list object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/user/follow":{"post":{"tags":["Users Endpoints"],"summary":"Follow User","description":"Follow a user, $0.0025 per call.","operationId":"follow_user_api_endpoint_twitter_user_follow_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowUserQuery"}}},"required":true},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"delete":{"tags":["Users Endpoints"],"summary":"Unfollow User","description":"Unfollow a user, $0.0025 per call.","operationId":"unfollow_user_api_endpoint_twitter_user_follow_delete","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnfollowUserQuery"}}},"required":true},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnfollowUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/community/{community_id}/members/{target_count}":{"get":{"tags":["Communities Endpoints"],"summary":"Get Community Members","description":"Get community members","operationId":"get_community_members_endpoint_twitter_community__community_id__members__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"community_id","in":"path","required":true,"schema":{"type":"string","title":"Community Id"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchUserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/community/{community_id}/tweets/{tweet_type}/{target_count}":{"get":{"tags":["Communities Endpoints"],"summary":"Get Community Tweets","description":"Get community tweets","operationId":"get_community_tweets_endpoint_twitter_community__community_id__tweets__tweet_type___target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"community_id","in":"path","required":true,"schema":{"type":"string","title":"Community Id"}},{"name":"tweet_type","in":"path","required":true,"schema":{"enum":["Top","Latest","Media"],"type":"string","title":"Tweet Type"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityTweetsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/list/{list_id}/tweets/{target_count}":{"get":{"tags":["Lists Endpoints"],"summary":"Get List Tweets","description":"Get list tweets","operationId":"get_list_tweets_endpoint_twitter_list__list_id__tweets__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"string","title":"List Id"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListTweetsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/list/{list_id}/subscribers/{target_count}":{"get":{"tags":["Lists Endpoints"],"summary":"Get List Subscribers","description":"Get list subscribers","operationId":"get_list_subscribers_endpoint_twitter_list__list_id__subscribers__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"string","title":"List Id"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListSubscribersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/list/{list_id}/members/{target_count}":{"get":{"tags":["Lists Endpoints"],"summary":"Get List Members","description":"Get list members","operationId":"get_list_members_endpoint_twitter_list__list_id__members__target_count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"string","title":"List Id"}},{"name":"target_count","in":"path","required":true,"schema":{"type":"integer","title":"Target Count"}}],"responses":{"200":{"description":"A list of user objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListMembersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/list/search":{"post":{"tags":["Lists Endpoints"],"summary":"Search List","description":"Search list","operationId":"search_list_endpoint_twitter_list_search_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchListQuery"}}},"required":true},"responses":{"200":{"description":"A list of list objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/community/search":{"post":{"tags":["Communities Endpoints"],"summary":"Search Community","description":"Search community","operationId":"search_community_endpoint_twitter_community_search_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchCommunityQuery"}}},"required":true},"responses":{"200":{"description":"A list of community objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchCommunityResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/community/search-tweets":{"post":{"tags":["Communities Endpoints"],"summary":"Search Community Tweets","description":"Search community tweets","operationId":"search_community_tweets_endpoint_twitter_community_search_tweets_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchCommunityTweetsQuery"}}},"required":true},"responses":{"200":{"description":"A list of tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityTweetsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/action":{"post":{"tags":["Social Media Services Endpoints"],"summary":"Purchase Twitter Engagement Services","description":"Purchase various Twitter engagement services to boost your social media presence.\n\n**Available Services:**\n- **Likes**: Increase tweet likes (10-5,000 per order, $1/100)\n- **Retweets**: Boost retweets (10-500 per order, $2/100)  \n- **Views**: Enhance tweet views (100-9999999 per order, $1/1000)\n- **Bookmarks**: Add bookmarks (10-5000 per order, $2/100)\n- **Followers**: Gain followers (10-30,000 per order, $2/100)\n\n**How it works:**\n1. Submit your order with service type, tweet URL, and quantity\n2. Receive an order ID to track your purchase\n3. Monitor progress via the status endpoint\n4. Services are delivered gradually over time for natural growth\n\n**Important Notes:**\n- All services are delivered by real accounts\n- Processing time varies by service type and quantity\n- Orders cannot be cancelled once processing begins\n- Ensure your Twitter account is public for optimal delivery","operationId":"execute_twitter_action_twitter_action_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseTwitterActionRequest"}}},"required":true},"responses":{"200":{"description":"Returns order ID and confirmation details for tracking your purchase","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseTwitterActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/action/order-status":{"get":{"tags":["Social Media Services Endpoints"],"summary":"Check Order Status","description":"Check the delivery status and progress of your Twitter engagement order.\n\n**Response Details:**\n- **order_id**: Unique identifier for your order\n- **start_count**: Initial engagement count when order began\n- **fee**: Total cost of the order in USD\n- **status**: Current order status (pending, in_progress, completed, failed)\n\n**Order Status Types:**\n- `pending`: Order received and queued for processing\n- `in_progress`: Services are being delivered\n- `completed`: All services have been delivered successfully\n- `partial`: Some services delivered (may continue processing)\n- `failed`: Order could not be completed (contact support)\n\n**Note**: Orders are processed 24/7 but delivery speed varies by service type and current queue volume.","operationId":"get_order_status_twitter_action_order_status_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"order_id","in":"query","required":true,"schema":{"type":"integer","title":"Order Id"}}],"responses":{"200":{"description":"Detailed status information including progress, cost, and delivery status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwitterActionStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"BatchUsersResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/UserInfo"},{"type":"null"}]},"type":"array","title":"Data","description":"List of user info (null for not found users)"}},"type":"object","required":["data"],"title":"BatchUsersResponse","description":"Batch users API response"},"BlockUserQuery":{"properties":{"username":{"type":"string","title":"Username","description":"The username of the user to block."},"cookie":{"type":"string","title":"Cookie","description":"The user's Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["username","cookie"],"title":"BlockUserQuery"},"BlockUserResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"anyOf":[{"$ref":"#/components/schemas/UserModel"},{"type":"null"}],"description":"User information"}},"type":"object","title":"BlockUserResponse","description":"response"},"BookmarkBody":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["cookie"],"title":"BookmarkBody","description":"Body for bookmarking a tweet"},"CashtagsQuery":{"properties":{"cashtags":{"items":{"type":"string"},"type":"array","title":"Cashtags","description":"Cashtag to search for (with or without $ prefix)","default":[],"example":["AAPL","TSLA"]},"startTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Starttime","description":"Start time for search in ISO format","example":"2024-10-20_23:59:59_UTC"},"endTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endtime","description":"End time for search in ISO format","example":"2024-10-21_23:59:59_UTC"},"sortBy":{"anyOf":[{"type":"string","enum":["Latest","Top"]},{"type":"null"}],"title":"Sortby","description":"Sort order for results","default":"Latest"},"maxItems":{"anyOf":[{"type":"integer","maximum":1000.0,"minimum":1.0},{"type":"null"}],"title":"Maxitems","description":"Maximum number of tweets to return","default":20},"mininumLikes":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumlikes","description":"Minimum number of likes required","default":0},"mininumRetweets":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumretweets","description":"Minimum number of retweets required","default":0},"mininumReplies":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumreplies","description":"Minimum number of replies required","default":0},"blueVerified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Blueverified","description":"Filter for blue verified accounts only"},"verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Verified","description":"Filter for verified accounts only"},"language":{"anyOf":[{"type":"string","enum":["am","ar","bg","bn","bo","ca","ch","cs","da","de","dv","el","en","es","et","fa","fi","fr","gu","hi","ht","hu","hy","in","is","it","iu","iw","ja","ka","km","kn","ko","lo","lt","lv","ml","my","ne","nl","no","or","pa","pl","pt","ro","ru","si","sk","sl","sv","ta","te","th","tl","tr","uk","ur","vi","zh"]},{"type":"null"}],"title":"Language","description":"Language filter for tweets","example":"en"},"onlyImage":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Onlyimage","description":"Filter for images only"},"onlyVideo":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Onlyvideo","description":"Filter for videos only"},"onlyQuote":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Onlyquote","description":"Filter for quotes only"},"onlyReply":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Onlyreply","description":"Filter for replies only"}},"type":"object","title":"CashtagsQuery","description":"Query parameters for searching cashtags (stock symbols)"},"CommunityModel":{"properties":{"id":{"type":"string","title":"Id","description":"The ID of the community"},"name":{"type":"string","title":"Name","description":"The name of the community"},"description":{"type":"string","title":"Description","description":"The description of the community"},"member_count":{"type":"integer","title":"Member Count","description":"The number of members in the community"}},"type":"object","required":["id","name","description","member_count"],"title":"CommunityModel"},"CommunityTweetsResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array","title":"Data","description":"A list of tweet objects."}},"type":"object","required":["code","msg","data"],"title":"CommunityTweetsResponse"},"CreateListQuery":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"The user's Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev//how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"},"list_name":{"type":"string","title":"List Name","description":"The name of the list."},"list_description":{"type":"string","title":"List Description","description":"The description of the list."},"is_private":{"type":"boolean","title":"Is Private","description":"Whether the list is private."}},"type":"object","required":["cookie","list_name","list_description","is_private"],"title":"CreateListQuery"},"CreateListResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"$ref":"#/components/schemas/ListModel","description":"The list object."}},"type":"object","required":["code","msg","data"],"title":"CreateListResponse"},"DeleteBookmarkQuery":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"The user's Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["cookie"],"title":"DeleteBookmarkQuery"},"DeleteRetweetQuery":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"The user's Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["cookie"],"title":"DeleteRetweetQuery"},"DeleteTweetQuery":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"},"username":{"type":"string","title":"Username","description":"Twitter username whose tweets to delete","example":"myusername"},"target_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Target Id","description":"Specific tweet ID to delete (if not provided, deletes all user tweets)","example":"1234567890123456789"}},"type":"object","required":["cookie","username"],"title":"DeleteTweetQuery","description":"Parameters for deleting tweets"},"DeleteTweetResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"type":"string"},"type":"array","title":"Data","description":"List of deleted tweet IDs"}},"type":"object","required":["data"],"title":"DeleteTweetResponse","description":"Delete tweet response"},"FollowUserQuery":{"properties":{"username":{"type":"string","title":"Username","description":"The username of the user to follow or unfollow."},"cookie":{"type":"string","title":"Cookie","description":"The user's Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["username","cookie"],"title":"FollowUserQuery"},"GetDmHistoryQuery":{"properties":{"username":{"type":"string","title":"Username","description":"Twitter username to get DM history for","example":"myusername"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"},"proxy":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Proxy","description":"The proxy to use.Please use high-quality residential proxies and avoid free proxies.Required.Example: http://username:password@ip:port . You can get proxy from: https://app.proxy-cheap.com/r/qiMxub","example":"http://username:password@ip:port"}},"type":"object","required":["username","cookie"],"title":"GetDmHistoryQuery","description":"Parameters for getting DM history"},"GetDmHistoryResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"Response code","example":200},"msg":{"type":"string","title":"Msg","description":"Message sent","example":"success"},"data":{"items":{"$ref":"#/components/schemas/MessageModel"},"type":"array","title":"Data","description":"List of message objects","example":[{"attachment":{"type":"image","url":"https://example.com/image.jpg"},"id":"1234567890123456789","text":"Hello, how are you?","time":"2024-01-01T12:00:00Z"}]}},"type":"object","required":["code","msg","data"],"title":"GetDmHistoryResponse","description":"Response for getting DM history"},"GetFavoritersQuery":{"properties":{"tweet_id":{"type":"string","title":"Tweet Id","description":"The ID of the tweet to get favoriters."},"target_count":{"type":"integer","title":"Target Count","description":"The number of favoriters to get."},"cookie":{"type":"string","title":"Cookie","description":"The user's Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev//how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["tweet_id","target_count","cookie"],"title":"GetFavoritersQuery"},"GetFollowersResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/UserInfo"},{"type":"null"}]},"type":"array","title":"Data","description":"List of user info"}},"type":"object","required":["data"],"title":"GetFollowersResponse","description":"get followers API response"},"GetFollowingResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/UserInfo"},{"type":"null"}]},"type":"array","title":"Data","description":"List of user info"}},"type":"object","required":["data"],"title":"GetFollowingResponse","description":"get following API response"},"GetNotificationsQuery":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"The user's Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"},"type":{"type":"string","enum":["All","Verified","Mentions"],"title":"Type","description":"The type of notifications to retrieve."}},"type":"object","required":["cookie","type"],"title":"GetNotificationsQuery"},"GetNotificationsResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"items":{"$ref":"#/components/schemas/NotificationModel"},"type":"array","title":"Data","description":"A list of notification objects."}},"type":"object","required":["code","msg","data"],"title":"GetNotificationsResponse"},"GetTweetsByIdResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array"},{"type":"null"}],"title":"Data","description":"Tweet data"}},"type":"object","required":["data"],"title":"GetTweetsByIdResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HashtagsQuery":{"properties":{"hashtags":{"items":{"type":"string"},"type":"array","title":"Hashtags","description":"Hashtag to search for (with or without # prefix)","default":[],"example":["btc","eth"]},"startTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Starttime","description":"Start time for search in ISO format","example":"2024-10-20_23:59:59_UTC"},"endTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endtime","description":"End time for search in ISO format","example":"2024-10-21_23:59:59_UTC"},"sortBy":{"anyOf":[{"type":"string","enum":["Latest","Top"]},{"type":"null"}],"title":"Sortby","description":"Sort order for results","default":"Latest"},"maxItems":{"anyOf":[{"type":"integer","maximum":1000.0,"minimum":1.0},{"type":"null"}],"title":"Maxitems","description":"Maximum number of tweets to return","default":20},"mininumLikes":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumlikes","description":"Minimum number of likes required","default":0},"mininumRetweets":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumretweets","description":"Minimum number of retweets required","default":0},"mininumReplies":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumreplies","description":"Minimum number of replies required","default":0},"blueVerified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Blueverified","description":"Filter for blue verified accounts only"},"verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Verified","description":"Filter for verified accounts only"},"language":{"anyOf":[{"type":"string","enum":["am","ar","bg","bn","bo","ca","ch","cs","da","de","dv","el","en","es","et","fa","fi","fr","gu","hi","ht","hu","hy","in","is","it","iu","iw","ja","ka","km","kn","ko","lo","lt","lv","ml","my","ne","nl","no","or","pa","pl","pt","ro","ru","si","sk","sl","sv","ta","te","th","tl","tr","uk","ur","vi","zh"]},{"type":"null"}],"title":"Language","description":"Language filter for tweets","example":"en"},"onlyImage":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Onlyimage","description":"Filter for images only"},"onlyVideo":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Onlyvideo","description":"Filter for videos only"},"onlyQuote":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Onlyquote","description":"Filter for quotes only"},"onlyReply":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Onlyreply","description":"Filter for replies only"}},"type":"object","title":"HashtagsQuery","description":"Query parameters for searching hashtags"},"LatestFollowersResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/UserInfo"},{"type":"null"}]},"type":"array","title":"Data","description":"List of user info"}},"type":"object","required":["data"],"title":"LatestFollowersResponse","description":"latest followers API response"},"LatestFollowingsResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/UserInfo"},{"type":"null"}]},"type":"array","title":"Data","description":"List of user info"}},"type":"object","required":["data"],"title":"LatestFollowingsResponse","description":"latest followings API response"},"LikeActionBody":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["cookie"],"title":"LikeActionBody","description":"Body for the like action, containing only the cookie."},"ListMembersResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"items":{"$ref":"#/components/schemas/UserModel"},"type":"array","title":"Data","description":"A list of user objects."}},"type":"object","required":["code","msg","data"],"title":"ListMembersResponse"},"ListModel":{"properties":{"id":{"type":"string","title":"Id","description":"The ID of the list"},"name":{"type":"string","title":"Name","description":"The name of the list"},"description":{"type":"string","title":"Description","description":"The description of the list"},"is_private":{"type":"boolean","title":"Is Private","description":"Whether the list is private"},"member_count":{"type":"integer","title":"Member Count","description":"The number of members in the list"},"subscriber_count":{"type":"integer","title":"Subscriber Count","description":"The number of subscribers in the list"}},"type":"object","required":["id","name","description","is_private","member_count","subscriber_count"],"title":"ListModel"},"ListSubscribersResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"items":{"$ref":"#/components/schemas/UserModel"},"type":"array","title":"Data","description":"A list of user objects."}},"type":"object","required":["code","msg","data"],"title":"ListSubscribersResponse"},"ListTweetsResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array","title":"Data","description":"A list of tweet objects."}},"type":"object","required":["code","msg","data"],"title":"ListTweetsResponse"},"MediaModel":{"properties":{"id":{"type":"string","title":"Id","description":"Media ID","example":"1802991873836883968"},"type":{"type":"string","title":"Type","description":"Type of media (e.g., photo, video)","example":"photo"},"display_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Url","description":"URL of the media to display","example":"pic.twitter.com/..."},"expanded_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Expanded Url","description":"Expanded URL for the media"},"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"Direct URL to the media file"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"t.co URL for the media"},"height":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Height","description":"Height of the media in pixels","example":1080},"width":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Width","description":"Width of the media in pixels","example":1920},"features":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Features","description":"Features of the media"},"original_info":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Original Info","description":"Original information about the media"},"sizes":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Sizes","description":"Available sizes of the media"},"source_status_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Status Id","description":"Source tweet ID if the media is a retweet"},"source_user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source User Id","description":"Source user ID if the media is a retweet"},"duration_millis":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Millis","description":"Duration of the video in milliseconds"},"aspect_ratio":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Aspect Ratio","description":"Aspect ratio of the video","example":[16,9]},"video_info":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Video Info","description":"Detailed video information"},"streams":{"items":{"$ref":"#/components/schemas/StreamModel"},"type":"array","title":"Streams","description":"List of available video streams","default":[]}},"type":"object","required":["id","type"],"title":"MediaModel"},"MessageModel":{"properties":{"id":{"type":"string","title":"Id","description":"Message ID","example":"1234567890123456789"},"text":{"type":"string","title":"Text","description":"Message text","example":"Hello, how are you?"},"time":{"type":"string","title":"Time","description":"Message time","example":"2024-01-01T12:00:00Z"},"attachment":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Attachment","description":"Message attachment","example":{"type":"image","url":"https://example.com/image.jpg"}}},"type":"object","required":["id","text","time"],"title":"MessageModel","description":"Message model"},"NotificationModel":{"properties":{"id":{"type":"string","title":"Id","description":"Notification ID","example":"1803006263529541838"},"timestamp_ms":{"type":"integer","title":"Timestamp Ms","description":"The timestamp of the notification in milliseconds"},"icon":{"additionalProperties":true,"type":"object","title":"Icon","description":"Dictionary containing icon data for the notification"},"message":{"type":"string","title":"Message","description":"The message text of the notification"},"tweet":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}],"description":"The tweet associated with the notification"},"from_user":{"anyOf":[{"$ref":"#/components/schemas/UserModel"},{"type":"null"}],"description":"The user who triggered the notification"}},"type":"object","required":["id","timestamp_ms","icon","message"],"title":"NotificationModel","description":"Attributes\n----------\nid : :class:`str`\n    The unique identifier of the notification.\ntimestamp_ms : :class:`int`\n    The timestamp of the notification in milliseconds.\nicon : :class:`dict`\n    Dictionary containing icon data for the notification.\nmessage : :class:`str`\n    The message text of the notification.\ntweet : :class:`.Tweet`\n    The tweet associated with the notification.\nfrom_user : :class:`.User`\n    The user who triggered the notification."},"PostTweetData":{"properties":{"tweet_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tweet Id","description":"Posted tweet ID","example":"1234567890123456789"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id","description":"User ID who posted","example":"1234567890"},"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200}},"type":"object","title":"PostTweetData","description":"Post tweet response data"},"PostTweetQuery":{"properties":{"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"URL of media to attach to the tweet","example":"https://example.com/image.jpg"},"tweet_content":{"type":"string","maxLength":280,"title":"Tweet Content","description":"Content of the tweet to post","example":"Hello, Twitter! 🐦"},"delegated_account_username":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Delegated Account Username","description":"delegated account username","example":"elonmusk"},"schedule":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Schedule","description":"Schedule time for the tweet in ISO format","example":"2024-01-01T12:00:00Z"},"reply_tweet_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reply Tweet Id","description":"ID of tweet to reply to","example":"1234567890123456789"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"},"community_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Name","description":"Name of Twitter community to post in or community id","example":"Python Developers or 1234567890123456789"},"proxy":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Proxy","description":"The proxy to use.Please use high-quality residential proxies and avoid free proxies.Required.Example: http://username:password@ip:port . You can get proxy from: https://app.proxy-cheap.com/r/qiMxub","example":"http://username:password@ip:port"}},"type":"object","required":["tweet_content","cookie"],"title":"PostTweetQuery","description":"Parameters for posting a tweet"},"PostTweetResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"anyOf":[{"$ref":"#/components/schemas/PostTweetData"},{"type":"null"}],"description":"Posted tweet information"}},"type":"object","title":"PostTweetResponse","description":"Post tweet API response"},"PostTweetWithoutCookieQuery":{"properties":{"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"URL of media to attach to the tweet","example":"https://example.com/image.jpg"},"tweet_content":{"type":"string","maxLength":280,"title":"Tweet Content","description":"Content of the tweet to post","example":"Hello, Twitter! 🐦"},"schedule":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Schedule","description":"Schedule time for the tweet in ISO format","example":"2024-01-01T12:00:00Z"},"reply_tweet_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reply Tweet Id","description":"ID of tweet to reply to","example":"1234567890123456789"},"community_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Name","description":"Name of Twitter community to post in or community id","example":"Python Developers or 1234567890123456789"},"quote_tweet_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Quote Tweet Url","description":"URL of tweet to quote","example":"https://twitter.com/user/status/1234567890123456789"}},"type":"object","required":["tweet_content"],"title":"PostTweetWithoutCookieQuery","description":"Parameters for posting a tweet without providing cookie (uses random cookie from pool)"},"PurchaseTwitterActionRequest":{"properties":{"service":{"type":"string","enum":["likes","retweets","views","bookmarks","followers"],"title":"Service","description":"Type of engagement service to purchase","example":"likes"},"link":{"type":"string","title":"Link","description":"Full Twitter/X URL of the tweet or profile to boost","example":"https://twitter.com/username/status/1234567890"},"quantity":{"type":"integer","exclusiveMinimum":0.0,"title":"Quantity","description":"Number of engagements to purchase (see service limits in endpoint description)","example":100}},"type":"object","required":["service","link","quantity"],"title":"PurchaseTwitterActionRequest"},"PurchaseTwitterActionResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code (200 for success)","example":200},"msg":{"type":"string","title":"Msg","description":"Human-readable response message","example":"success"},"data":{"additionalProperties":true,"type":"object","title":"Data","description":"Order details including order_id for tracking","example":{"order_id":12345}}},"type":"object","required":["code","msg","data"],"title":"PurchaseTwitterActionResponse"},"QuoteTweetQuery":{"properties":{"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"URL of media to attach to the tweet","example":"https://example.com/image.jpg"},"tweet_content":{"type":"string","maxLength":280,"title":"Tweet Content","description":"Content of the tweet to post","example":"Hello, Twitter! 🐦"},"delegated_account_username":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Delegated Account Username","description":"delegated account username","example":"elonmusk"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"},"community_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Name","description":"Name of Twitter community to post in or community id","example":"Python Developers or 1234567890123456789"},"quote_tweet_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Quote Tweet Url","description":"URL of tweet to quote","example":"https://twitter.com/user/status/1234567890123456789"},"proxy":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Proxy","description":"The proxy to use.Please use high-quality residential proxies and avoid free proxies.Required.Example: http://username:password@ip:port . You can get proxy from: https://app.proxy-cheap.com/r/qiMxub","example":"http://username:password@ip:port"}},"type":"object","required":["tweet_content","cookie"],"title":"QuoteTweetQuery","description":"Parameters for quoting a tweet"},"ReplyResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}],"description":"Tweet data"}},"type":"object","required":["data"],"title":"ReplyResponse","description":"Reply response data"},"RetweetActionBody":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["cookie"],"title":"RetweetActionBody","description":"Body for the retweet action, containing only the cookie."},"SearchCommunityQuery":{"properties":{"query":{"type":"string","title":"Query","description":"The query to search for."},"target_count":{"type":"integer","title":"Target Count","description":"The number of communities to search."}},"type":"object","required":["query","target_count"],"title":"SearchCommunityQuery"},"SearchCommunityResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"items":{"$ref":"#/components/schemas/CommunityModel"},"type":"array","title":"Data","description":"A list of community objects."}},"type":"object","required":["code","msg","data"],"title":"SearchCommunityResponse"},"SearchCommunityTweetsQuery":{"properties":{"community_id":{"type":"string","title":"Community Id","description":"The ID of the community."},"target_count":{"type":"integer","title":"Target Count","description":"The number of tweets to search."},"query":{"type":"string","title":"Query","description":"The query to search for."}},"type":"object","required":["community_id","target_count","query"],"title":"SearchCommunityTweetsQuery"},"SearchListQuery":{"properties":{"query":{"type":"string","title":"Query","description":"The query to search for."},"target_count":{"type":"integer","title":"Target Count","description":"The number of lists to search."}},"type":"object","required":["query","target_count"],"title":"SearchListQuery"},"SearchListResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"items":{"$ref":"#/components/schemas/ListModel"},"type":"array","title":"Data","description":"A list of list objects."}},"type":"object","required":["code","msg","data"],"title":"SearchListResponse"},"SearchQuery":{"properties":{"searchTerms":{"items":{"type":"string"},"type":"array","title":"Searchterms","description":"List of search terms to query Twitter,Visit [Advance Search TwitterXAPI](https://advance-search.pages.dev) to generate advanced search terms online.","example":["python programming","AI technology"]},"maxItems":{"type":"integer","maximum":100000.0,"minimum":1.0,"title":"Maxitems","description":"Maximum number of tweets to return","default":10,"example":50},"sortBy":{"type":"string","enum":["Latest","Top"],"title":"Sortby","description":"Sort order for results","default":"Latest","example":"Latest"}},"type":"object","required":["searchTerms"],"title":"SearchQuery","description":"Advanced Twitter search query parameters"},"SearchResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array","title":"Data","description":"List of tweets"}},"type":"object","required":["data"],"title":"SearchResponse","description":"Search API response"},"SearchUserResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"items":{"$ref":"#/components/schemas/UserModel"},"type":"array","title":"Data","description":"A list of user objects."}},"type":"object","required":["code","msg","data"],"title":"SearchUserResponse"},"SendDmQuery":{"properties":{"username":{"type":"string","title":"Username","description":"Twitter username to send DM to","example":"myusername"},"msg":{"type":"string","title":"Msg","description":"Message to send","example":"Hello, how are you?"},"reply_to":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reply To","description":"Reply to message ID","example":"1234567890123456789"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"},"proxy":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Proxy","description":"The proxy to use.Please use high-quality residential proxies and avoid free proxies.Required.Example: http://username:password@ip:port . You can get proxy from: https://app.proxy-cheap.com/r/qiMxub","example":"http://username:password@ip:port"}},"type":"object","required":["username","msg","cookie"],"title":"SendDmQuery","description":"Parameters for sending DM"},"SendDmResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"Response code","example":200},"msg":{"type":"string","title":"Msg","description":"Message sent","example":"success"},"data":{"$ref":"#/components/schemas/MessageModel","description":"message object","example":{"attachment":{"type":"image","url":"https://example.com/image.jpg"},"id":"1234567890123456789","text":"Hello, how are you?","time":"2024-01-01T12:00:00Z"}}},"type":"object","required":["code","msg","data"],"title":"SendDmResponse","description":"Response for sending DM"},"SentimentAnalysisModel":{"properties":{"tone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tone","description":"The tone of the text. Positive, Negative, Neutral, Humorous, Sarcastic, Enthusiastic, Angry, or Informative"},"sentiment":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sentiment","description":"The sentiment of the text. Positive, Negative, or Neutral"}},"type":"object","title":"SentimentAnalysisModel"},"SentimentAnalysisQuery":{"properties":{"text":{"type":"string","title":"Text","description":"The text to analyze."}},"type":"object","required":["text"],"title":"SentimentAnalysisQuery"},"SentimentAnalysisResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"$ref":"#/components/schemas/SentimentAnalysisModel","description":"The sentiment analysis model."}},"type":"object","required":["code","msg","data"],"title":"SentimentAnalysisResponse"},"StandardResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","example":200},"msg":{"type":"string","title":"Msg","description":"Response message","example":"success"},"data":{"anyOf":[{},{"type":"null"}],"title":"Data","description":"Response data"}},"type":"object","required":["code","msg","data"],"title":"StandardResponse","description":"Standard API response format"},"StreamModel":{"properties":{"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"URL of the video stream","example":"https://video.twimg.com/..."},"bitrate":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bitrate","description":"Bitrate of the video stream in bps","example":832000},"content_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content Type","description":"Content type of the stream","example":"video/mp4"}},"type":"object","title":"StreamModel"},"TweetActionResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"type":"boolean","title":"Data","description":"Success status","default":true}},"type":"object","title":"TweetActionResponse","description":"Tweet action response"},"TweetModel":{"properties":{"tweet_id":{"type":"string","title":"Tweet Id","description":"The unique identifier for the Tweet","example":"1803006263529541838"},"text":{"type":"string","title":"Text","description":"The actual text content of the Tweet"},"created_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At","description":"The date and time the Tweet was created","example":"Mon Jun 17 03:51:48 +0000 2024"},"created_at_datetime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At Datetime","description":"The ISO 8601 format of the creation date","example":"2024-06-17T03:51:48.000Z"},"bookmark_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bookmark Count","description":"Number of times the Tweet has been bookmarked","default":0},"bookmarked":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Bookmarked","description":"Indicates if the authenticating user has bookmarked this Tweet","default":false},"community_note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Note","description":"Community note associated with the Tweet"},"edit_tweet_ids":{"items":{"type":"string"},"type":"array","title":"Edit Tweet Ids","description":"A list of Tweet IDs for each edit of the Tweet","default":[]},"editable_until_msecs":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Editable Until Msecs","description":"Timestamp for when the Tweet is no longer editable"},"edits_remaining":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Edits Remaining","description":"Number of edits remaining for the Tweet"},"favorite_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Favorite Count","description":"Number of likes (favorites) for the Tweet","default":0},"favorited":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Favorited","description":"Indicates if the authenticating user has liked this Tweet","default":false},"full_text":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Full Text","description":"The full text of the Tweet, especially for extended tweets"},"has_card":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Has Card","description":"Indicates if the Tweet has a card attached","default":false},"has_community_notes":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Has Community Notes","description":"Indicates if the Tweet has community notes","default":false},"hashtags":{"items":{"type":"string"},"type":"array","title":"Hashtags","description":"A list of hashtags mentioned in the Tweet","default":[],"example":["AI","Python"]},"cashtags":{"items":{"type":"string"},"type":"array","title":"Cashtags","description":"A list of cashtags (stock symbols) mentioned in the Tweet","default":[],"example":["$TSLA"]},"id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id","description":"The unique identifier for the Tweet (same as tweet_id)"},"in_reply_to":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"In Reply To","description":"ID of the Tweet this is a reply to"},"in_reply_to_user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"In Reply To User Id","description":"ID of the user this is a reply to"},"in_reply_to_screen_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"In Reply To Screen Name","description":"Screen name of the user this is a reply to"},"is_edit_eligible":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Edit Eligible","description":"Indicates if the Tweet is eligible for editing","default":false},"is_quote_status":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Quote Status","description":"Indicates if this Tweet is a quote of another Tweet","default":false},"is_translatable":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Translatable","description":"Indicates if the Tweet is translatable","default":false},"lang":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lang","description":"The BCP 47 language identifier for the Tweet's content","example":"en"},"media":{"items":{"$ref":"#/components/schemas/MediaModel"},"type":"array","title":"Media","description":"A list of media objects (photos, videos) attached to the Tweet","default":[]},"place":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Place","description":"The location associated with the Tweet"},"poll":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Poll","description":"A poll attached to the Tweet"},"possibly_sensitive":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Possibly Sensitive","description":"Indicates if the Tweet may contain sensitive content"},"possibly_sensitive_editable":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Possibly Sensitive Editable","description":"Indicates if the sensitive content flag is editable"},"quote":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}],"description":"The Tweet object being quoted"},"quote_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Quote Count","description":"Number of times this Tweet has been quoted","default":0},"related_tweets":{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array","title":"Related Tweets","description":"A list of related Tweets","default":[]},"replies":{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array","title":"Replies","description":"A list of replies to this Tweet","default":[]},"reply_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Reply Count","description":"Number of replies to this Tweet","default":0},"reply_to":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}],"description":"The Tweet object this is a reply to"},"retweet_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Retweet Count","description":"Number of times this Tweet has been retweeted","default":0},"retweeted_tweet":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}],"description":"The original Tweet object if this is a retweet"},"thread":{"anyOf":[{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array"},{"type":"null"}],"title":"Thread","description":"The conversation thread ID"},"thumbnail_title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Thumbnail Title","description":"Title for the thumbnail in a card"},"thumbnail_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Thumbnail Url","description":"URL for the thumbnail in a card"},"urls":{"items":{"type":"string"},"type":"array","title":"Urls","description":"A list of URLs included in the Tweet","default":[]},"user":{"anyOf":[{"$ref":"#/components/schemas/UserModel"},{"type":"null"}],"description":"The user who posted the Tweet"},"view_count":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"View Count","description":"Number of views for the Tweet"},"view_count_state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"View Count State","description":"State of the view count"},"status":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Status","description":"Raw status dictionary, for fallback or debugging"},"target_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Target Count","description":"The target count of items requested, for context"}},"type":"object","required":["tweet_id","text"],"title":"TweetModel"},"TwitterActionStatusResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code (200 for success)","example":200},"msg":{"type":"string","title":"Msg","description":"Human-readable response message","example":"success"},"data":{"additionalProperties":true,"type":"object","title":"Data","description":"Order status details including progress and delivery information","example":{"fee":1.0,"order_id":12345,"start_count":0,"status":"completed"}}},"type":"object","required":["code","msg","data"],"title":"TwitterActionStatusResponse"},"UnfavoriteTweetQuery":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"The user's Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["cookie"],"title":"UnfavoriteTweetQuery"},"UnfollowUserQuery":{"properties":{"username":{"type":"string","title":"Username","description":"The username of the user to unfollow."},"cookie":{"type":"string","title":"Cookie","description":"The user's Twitter authentication cookie or Twitter auth_token, [how-to-get-twitter-cookie](https://youtube-promotion.pages.dev/how-to-get-twitter-cookie)","example":"ct0=abc123... or 2c4a4e1832096aa694c739b83c83b6d96d43eba7"}},"type":"object","required":["username","cookie"],"title":"UnfollowUserQuery"},"UnfollowUserResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"The status code of the response."},"msg":{"type":"string","title":"Msg","description":"The message of the response."},"data":{"anyOf":[{"$ref":"#/components/schemas/UserModel"},{"type":"null"}],"description":"A confirmation of the action's success."}},"type":"object","required":["code","msg"],"title":"UnfollowUserResponse"},"UserInfo":{"properties":{"userId":{"type":"string","title":"Userid","description":"User ID"},"isBlueVerified":{"type":"boolean","title":"Isblueverified","description":"Blue verification status"},"createdAt":{"type":"string","title":"Createdat","description":"Account creation date"},"createdAtDatetime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Createdatdatetime","description":"Account creation datetime in ISO format"},"defaultProfile":{"type":"boolean","title":"Defaultprofile","description":"Default profile flag"},"defaultProfileImage":{"type":"boolean","title":"Defaultprofileimage","description":"Default profile image flag"},"description":{"type":"string","title":"Description","description":"Bio description"},"location":{"type":"string","title":"Location","description":"Location"},"fastFollowersCount":{"type":"integer","title":"Fastfollowerscount","description":"Fast followers count"},"favouritesCount":{"type":"integer","title":"Favouritescount","description":"Likes count"},"followersCount":{"type":"integer","title":"Followerscount","description":"Followers count"},"followingCount":{"type":"integer","title":"Followingcount","description":"Following count"},"hasCustomTimelines":{"type":"boolean","title":"Hascustomtimelines","description":"Has custom timelines flag"},"isTranslator":{"type":"boolean","title":"Istranslator","description":"Is translator flag"},"listedCount":{"type":"integer","title":"Listedcount","description":"Listed count"},"mediaCount":{"type":"integer","title":"Mediacount","description":"Media count"},"name":{"type":"string","title":"Name","description":"Display name"},"normalFollowersCount":{"type":"integer","title":"Normalfollowerscount","description":"Normal followers count"},"pinnedTweetIdsStr":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Pinnedtweetidsstr","description":"Pinned tweet IDs"},"possiblySensitive":{"type":"boolean","title":"Possiblysensitive","description":"Possibly sensitive flag"},"profileImageUrlHttps":{"type":"string","title":"Profileimageurlhttps","description":"Profile image URL"},"username":{"type":"string","title":"Username","description":"Username"},"statusesCount":{"type":"integer","title":"Statusescount","description":"Tweets count"},"translatorType":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Translatortype","description":"Translator type"},"verified":{"type":"boolean","title":"Verified","description":"Legacy verification status"},"withheldInCountries":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Withheldincountries","description":"Withheld in countries"},"protected":{"type":"boolean","title":"Protected","description":"Protected account flag"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"User profile URL"},"descriptionUrls":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Descriptionurls","description":"Description URLs"},"urls":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Urls","description":"User URLs"},"pinnedTweetIds":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Pinnedtweetids","description":"Pinned tweet IDs"}},"type":"object","required":["userId","isBlueVerified","createdAt","defaultProfile","defaultProfileImage","description","location","fastFollowersCount","favouritesCount","followersCount","followingCount","hasCustomTimelines","isTranslator","listedCount","mediaCount","name","normalFollowersCount","possiblySensitive","profileImageUrlHttps","username","statusesCount","verified","protected"],"title":"UserInfo","description":"User information structure"},"UserModel":{"properties":{"id":{"type":"string","title":"Id","description":"User ID","example":"1717001045992251392"},"name":{"type":"string","title":"Name","description":"Display name","example":"Cryptoklepto"},"screen_name":{"type":"string","title":"Screen Name","description":"Twitter username","example":"CK_Cryptoklepto"},"created_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At","description":"Account creation date","example":"Mon Oct 28 02:32:47 +0000 2024"},"created_at_datetime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At Datetime","description":"Account creation datetime in ISO format","example":"2024-10-28T02:32:47.000Z"},"can_dm":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Can Dm","description":"Whether the user can be direct messaged","default":false},"can_media_tag":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Can Media Tag","description":"Whether the user can be tagged in media","default":false},"default_profile":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Default Profile","description":"Whether the user has a default profile","default":false},"default_profile_image":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Default Profile Image","description":"Whether the user has a default profile image","default":false},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"User's bio description","default":""},"description_urls":{"items":{"type":"string"},"type":"array","title":"Description Urls","description":"List of URLs found in the user's description","default":[]},"fast_followers_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Fast Followers Count","description":"Count of fast followers","default":0},"favourites_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Favourites Count","description":"Number of tweets the user has liked","default":0},"followers_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Followers Count","description":"Number of followers","default":0},"following_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Following Count","description":"Number of users this user is following","default":0},"has_custom_timelines":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Has Custom Timelines","description":"Whether the user has custom timelines","default":false},"is_blue_verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Blue Verified","description":"Blue verification status","default":false},"is_translator":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Translator","description":"Whether the user is a translator","default":false},"listed_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Listed Count","description":"Number of public lists the user is a member of","default":0},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location","description":"User's location","default":"","example":"New York, USA"},"media_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Media Count","description":"Number of media tweets posted by the user","default":0},"normal_followers_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Normal Followers Count","description":"Count of normal followers","default":0},"pinned_tweet_ids":{"items":{"type":"string"},"type":"array","title":"Pinned Tweet Ids","description":"List of pinned tweet IDs","default":[]},"possibly_sensitive":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Possibly Sensitive","description":"Whether the user's profile may contain sensitive content","default":false},"profile_banner_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Profile Banner Url","description":"URL of the user's profile banner"},"profile_image_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Profile Image Url","description":"URL of the user's profile image"},"protected":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Protected","description":"Whether the user's tweets are protected","default":false}},"type":"object","required":["id","name","screen_name"],"title":"UserModel"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"HTTPBearer":{"type":"http","scheme":"bearer"}}}}