{"openapi":"3.1.0","info":{"title":"Twitter API Service","description":"\n    A comprehensive Twitter API service that provides various Twitter operations including:\n    \n    * **Search Operations**: Advanced search, hashtags, cashtags\n    * **Tweet Operations**: Post, like, retweet, quote, bookmark, delete\n    * **User Operations**: Batch user information retrieval\n    * **Influencer Operations**: Get tweets from top influencers\n    \n    All endpoints return standardized responses in the format:\n    ```json\n    {\n        \"code\": 200,\n        \"msg\": \"success\", \n        \"data\": {...}\n    }\n    ```\n    \n    ## Authentication\n    \n    This API uses Bearer token authentication. Include your token in the Authorization header:\n    ```\n    Authorization: Bearer your_token_here\n    ```\n    ","contact":{"name":"API Support","email":"support@twitterxapi.com"},"license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.twitterxapi.com","description":"Development server"}],"paths":{"/twitter/advanced_search":{"post":{"tags":["Search"],"summary":"Advanced Twitter Search","description":"Perform advanced search on Twitter with multiple search terms and filters","operationId":"get_data_twitter_advanced_search_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets matching search criteria","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/cashtags":{"post":{"tags":["Search"],"summary":"Search Cashtags","description":"Search for tweets containing specific cashtags (stock symbols)","operationId":"get_cashtags_twitter_cashtags_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashtagsQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets containing the specified cashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/hashtags":{"post":{"tags":["Search"],"summary":"Search Hashtags","description":"Search for tweets containing specific hashtags","operationId":"get_hashtags_twitter_hashtags_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashtagsQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets containing the specified hashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/like_tweet":{"post":{"tags":["Tweet Actions"],"summary":"Like Tweet","description":"Like a specific tweet using authentication cookie","operationId":"like_tweets_twitter_like_tweet_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeTweetQuery"}}},"required":true},"responses":{"200":{"description":"Success confirmation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/retweet_tweet":{"post":{"tags":["Tweet Actions"],"summary":"Retweet Tweet","description":"Retweet a specific tweet using authentication cookie","operationId":"retweet_tweets_twitter_retweet_tweet_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetweetTweetQuery"}}},"required":true},"responses":{"200":{"description":"Success confirmation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/2k_influencers_tweets":{"post":{"tags":["Influencers"],"summary":"Get Influencer Tweets","description":"Retrieve tweets from top 2000 influencers since specified time","operationId":"get_2k_influencers_tweets_twitter_2k_influencers_tweets_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfluencersQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets from influencers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/batch_get_users":{"post":{"tags":["Users"],"summary":"Batch Get User Information","description":"Retrieve detailed information for multiple Twitter users","operationId":"batch_users_twitter_batch_get_users_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchGetUsersQuery"}}},"required":true},"responses":{"200":{"description":"List of user information objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUsersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/post_tweet":{"post":{"tags":["Tweet Actions"],"summary":"Post Tweet","description":"Post a new tweet with optional media, scheduling, and community targeting","operationId":"post_tweets_twitter_post_tweet_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetQuery"}}},"required":true},"responses":{"200":{"description":"Tweet ID and user ID of posted tweet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/quote_tweet":{"post":{"tags":["Tweet Actions"],"summary":"Quote Tweet","description":"Post a quote tweet with custom content","operationId":"quote_tweets_twitter_quote_tweet_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetQuery"}}},"required":true},"responses":{"200":{"description":"Tweet ID and user ID of posted quote tweet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/post_tweet_without_cookie":{"post":{"tags":["Tweet Actions"],"summary":"Post Tweet (Auto Cookie)","description":"Post a tweet using a random cookie from the pool","operationId":"post_tweets_without_cookie_twitter_post_tweet_without_cookie_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetWithoutCookieQuery"}}},"required":true},"responses":{"200":{"description":"Tweet ID and user ID of posted tweet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/bookmark_tweet":{"post":{"tags":["Tweet Actions"],"summary":"Bookmark Tweet","description":"Add a tweet to your bookmarks","operationId":"bookmark_tweets_twitter_bookmark_tweet_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookmarkTweetQuery"}}},"required":true},"responses":{"200":{"description":"Success confirmation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/delete_tweet":{"post":{"tags":["Tweet Actions"],"summary":"Delete Tweets","description":"Delete specific tweet or all tweets from a user account","operationId":"delete_tweets_twitter_delete_tweet_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTweetQuery"}}},"required":true},"responses":{"200":{"description":"Success confirmation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}}},"components":{"schemas":{"BatchGetUsersQuery":{"properties":{"usernames":{"items":{"type":"string"},"type":"array","title":"Usernames","description":"List of Twitter usernames or profile URLs","example":["elonmusk","https://twitter.com/sundarpichai","tim_cook"]}},"type":"object","required":["usernames"],"title":"BatchGetUsersQuery","description":"Parameters for batch user information retrieval"},"BatchUsersResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/UserInfo"},{"type":"null"}]},"type":"array","title":"Data","description":"List of user info (null for not found users)"}},"type":"object","required":["data"],"title":"BatchUsersResponse","description":"Batch users API response"},"BookmarkTweetQuery":{"properties":{"tweet_id":{"type":"string","title":"Tweet Id","description":"The ID of the tweet to bookmark","example":"1234567890123456789"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."}},"type":"object","required":["tweet_id","cookie"],"title":"BookmarkTweetQuery","description":"Parameters for bookmarking a tweet"},"CashtagsQuery":{"properties":{"cashtags":{"type":"string","title":"Cashtags","description":"Cashtag to search for (with or without $ prefix)","example":"AAPL"},"startTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Starttime","description":"Start time for search in ISO format","example":"2024-10-20_23:59:59_UTC"},"endTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endtime","description":"End time for search in ISO format","example":"2024-10-21_23:59:59_UTC"},"sortBy":{"anyOf":[{"type":"string","enum":["Latest","Top"]},{"type":"null"}],"title":"Sortby","description":"Sort order for results","default":"Latest"},"maxItems":{"anyOf":[{"type":"integer","maximum":1000.0,"minimum":1.0},{"type":"null"}],"title":"Maxitems","description":"Maximum number of tweets to return","default":20},"mininumLikes":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumlikes","description":"Minimum number of likes required","default":0},"mininumRetweets":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumretweets","description":"Minimum number of retweets required","default":0},"mininumReplies":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumreplies","description":"Minimum number of replies required","default":0},"blueVerified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Blueverified","description":"Filter for blue verified accounts only"},"verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Verified","description":"Filter for verified accounts only"},"language":{"anyOf":[{"type":"string","enum":["am","ar","bg","bn","bo","ca","ch","cs","da","de","dv","el","en","es","et","fa","fi","fr","gu","hi","ht","hu","hy","in","is","it","iu","iw","ja","ka","km","kn","ko","lo","lt","lv","ml","my","ne","nl","no","or","pa","pl","pt","ro","ru","si","sk","sl","sv","ta","te","th","tl","tr","uk","ur","vi","zh"]},{"type":"null"}],"title":"Language","description":"Language filter for tweets","example":"en"}},"type":"object","required":["cashtags"],"title":"CashtagsQuery","description":"Query parameters for searching cashtags (stock symbols)"},"DeleteTweetQuery":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."},"username":{"type":"string","title":"Username","description":"Twitter username whose tweets to delete","example":"myusername"},"target_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Target Id","description":"Specific tweet ID to delete (if not provided, deletes all user tweets)","example":"1234567890123456789"}},"type":"object","required":["cookie","username"],"title":"DeleteTweetQuery","description":"Parameters for deleting tweets"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HashtagsQuery":{"properties":{"hashtags":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hashtags","description":"Hashtag to search for (with or without # prefix)","example":"python"},"startTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Starttime","description":"Start time for search in ISO format","example":"2024-10-20_23:59:59_UTC"},"endTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endtime","description":"End time for search in ISO format","example":"2024-10-21_23:59:59_UTC"},"sortBy":{"anyOf":[{"type":"string","enum":["Latest","Top"]},{"type":"null"}],"title":"Sortby","description":"Sort order for results","default":"Latest"},"maxItems":{"anyOf":[{"type":"integer","maximum":1000.0,"minimum":1.0},{"type":"null"}],"title":"Maxitems","description":"Maximum number of tweets to return","default":20},"mininumLikes":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumlikes","description":"Minimum number of likes required","default":0},"mininumRetweets":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumretweets","description":"Minimum number of retweets required","default":0},"mininumReplies":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumreplies","description":"Minimum number of replies required","default":0},"blueVerified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Blueverified","description":"Filter for blue verified accounts only"},"verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Verified","description":"Filter for verified accounts only"},"language":{"anyOf":[{"type":"string","enum":["am","ar","bg","bn","bo","ca","ch","cs","da","de","dv","el","en","es","et","fa","fi","fr","gu","hi","ht","hu","hy","in","is","it","iu","iw","ja","ka","km","kn","ko","lo","lt","lv","ml","my","ne","nl","no","or","pa","pl","pt","ro","ru","si","sk","sl","sv","ta","te","th","tl","tr","uk","ur","vi","zh"]},{"type":"null"}],"title":"Language","description":"Language filter for tweets","example":"en"}},"type":"object","title":"HashtagsQuery","description":"Query parameters for searching hashtags"},"InfluencersQuery":{"properties":{"start_time":{"type":"string","title":"Start Time","description":"Start time for tweet collection in ISO format","example":"2024-01-01T00:00:00Z"}},"type":"object","required":["start_time"],"title":"InfluencersQuery","description":"Parameters for getting influencer tweets"},"LikeTweetQuery":{"properties":{"tweet_id":{"type":"string","title":"Tweet Id","description":"The ID of the tweet to like","example":"1234567890123456789"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."}},"type":"object","required":["tweet_id","cookie"],"title":"LikeTweetQuery","description":"Parameters for liking a tweet"},"PostTweetData":{"properties":{"tweet_id":{"type":"string","title":"Tweet Id","description":"Posted tweet ID","example":"1234567890123456789"},"user_id":{"type":"string","title":"User Id","description":"User ID who posted","example":"1234567890"}},"type":"object","required":["tweet_id","user_id"],"title":"PostTweetData","description":"Post tweet response data"},"PostTweetQuery":{"properties":{"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"URL of media to attach to the tweet","example":"https://example.com/image.jpg"},"tweet_content":{"type":"string","maxLength":280,"title":"Tweet Content","description":"Content of the tweet to post","example":"Hello, Twitter! 🐦"},"schedule":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Schedule","description":"Schedule time for the tweet in ISO format","example":"2024-01-01T12:00:00Z"},"reply_tweet_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reply Tweet Id","description":"ID of tweet to reply to","example":"1234567890123456789"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."},"community_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Name","description":"Name of Twitter community to post in","example":"Python Developers"},"quote_tweet_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Quote Tweet Url","description":"URL of tweet to quote","example":"https://twitter.com/user/status/1234567890123456789"}},"type":"object","required":["tweet_content","cookie"],"title":"PostTweetQuery","description":"Parameters for posting a tweet"},"PostTweetResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"$ref":"#/components/schemas/PostTweetData","description":"Posted tweet information"}},"type":"object","required":["data"],"title":"PostTweetResponse","description":"Post tweet API response"},"PostTweetWithoutCookieQuery":{"properties":{"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"URL of media to attach to the tweet","example":"https://example.com/image.jpg"},"tweet_content":{"type":"string","maxLength":280,"title":"Tweet Content","description":"Content of the tweet to post","example":"Hello, Twitter! 🐦"},"schedule":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Schedule","description":"Schedule time for the tweet in ISO format","example":"2024-01-01T12:00:00Z"},"reply_tweet_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reply Tweet Id","description":"ID of tweet to reply to","example":"1234567890123456789"},"community_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Name","description":"Name of Twitter community to post in","example":"Python Developers"}},"type":"object","required":["tweet_content"],"title":"PostTweetWithoutCookieQuery","description":"Parameters for posting a tweet without providing cookie (uses random cookie from pool)"},"RetweetTweetQuery":{"properties":{"tweet_id":{"type":"string","title":"Tweet Id","description":"The ID of the tweet to retweet","example":"1234567890123456789"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."}},"type":"object","required":["tweet_id","cookie"],"title":"RetweetTweetQuery","description":"Parameters for retweeting a tweet"},"SearchQuery":{"properties":{"searchTerms":{"items":{"type":"string"},"type":"array","title":"Searchterms","description":"List of search terms to query Twitter","example":["python programming","AI technology"]},"maxItems":{"type":"integer","maximum":1000.0,"minimum":1.0,"title":"Maxitems","description":"Maximum number of tweets to return","example":50},"sortBy":{"type":"string","enum":["Latest","Top"],"title":"Sortby","description":"Sort order for results","example":"Latest"}},"type":"object","required":["searchTerms","maxItems","sortBy"],"title":"SearchQuery","description":"Advanced Twitter search query parameters"},"SearchResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"$ref":"#/components/schemas/TweetData"},"type":"array","title":"Data","description":"List of tweets"}},"type":"object","required":["data"],"title":"SearchResponse","description":"Search API response"},"TweetActionResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"type":"boolean","title":"Data","description":"Success status","default":true}},"type":"object","title":"TweetActionResponse","description":"Tweet action response"},"TweetAuthor":{"properties":{"type":{"type":"string","title":"Type","description":"User type","example":"user"},"userName":{"type":"string","title":"Username","description":"Twitter username","example":"CK_Cryptoklepto"},"url":{"type":"string","title":"Url","description":"X.com profile URL","example":"https://x.com/CK_Cryptoklepto"},"twitterUrl":{"type":"string","title":"Twitterurl","description":"Twitter profile URL","example":"https://twitter.com/CK_Cryptoklepto"},"id":{"type":"string","title":"Id","description":"User ID","example":"1717001045992251392"},"name":{"type":"string","title":"Name","description":"Display name","example":"Cryptoklepto"},"isVerified":{"type":"boolean","title":"Isverified","description":"Legacy verification status","example":false},"isBlueVerified":{"type":"boolean","title":"Isblueverified","description":"Blue verification status","example":true},"profilePicture":{"type":"string","title":"Profilepicture","description":"Profile picture URL"},"coverPicture":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Coverpicture","description":"Cover picture URL"},"description":{"type":"string","title":"Description","description":"Bio description"},"location":{"type":"string","title":"Location","description":"Location"},"followers":{"type":"integer","title":"Followers","description":"Followers count","example":7263},"following":{"type":"integer","title":"Following","description":"Following count","example":1568},"favouritesCount":{"type":"integer","title":"Favouritescount","description":"Likes count","example":21335},"statusesCount":{"type":"integer","title":"Statusescount","description":"Tweets count","example":30846},"mediaCount":{"type":"integer","title":"Mediacount","description":"Media count","example":8256},"createdAt":{"type":"string","title":"Createdat","description":"Account creation date"}},"type":"object","required":["type","userName","url","twitterUrl","id","name","isVerified","isBlueVerified","profilePicture","description","location","followers","following","favouritesCount","statusesCount","mediaCount","createdAt"],"title":"TweetAuthor","description":"Tweet author information"},"TweetData":{"properties":{"id":{"type":"string","title":"Id","description":"Tweet ID","example":"1934458863417507963"},"text":{"type":"string","title":"Text","description":"Tweet content"},"twitterUrl":{"type":"string","title":"Twitterurl","description":"Tweet URL","example":"https://twitter.com/user/status/1234567890"},"created_at":{"type":"string","title":"Created At","description":"Tweet creation date","example":"Mon Jun 16 03:51:48 +0000 2025"},"auth":{"$ref":"#/components/schemas/TweetAuthor"},"author_id":{"type":"string","title":"Author Id","description":"Author user ID","example":"1717001045992251392"},"author_name":{"type":"string","title":"Author Name","description":"Author display name","example":"Cryptoklepto"},"author_username":{"type":"string","title":"Author Username","description":"Author username","example":"CK_Cryptoklepto"},"inReplyToId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Inreplytoid","description":"ID of tweet being replied to"},"conversationId":{"type":"string","title":"Conversationid","description":"Conversation thread ID"},"inReplyToUserId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Inreplytouserid","description":"User ID being replied to"},"inReplyToUsername":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Inreplytousername","description":"Username being replied to"},"lang":{"type":"string","title":"Lang","description":"Tweet language","example":"en"}},"type":"object","required":["id","text","twitterUrl","created_at","auth","author_id","author_name","author_username","conversationId","lang"],"title":"TweetData","description":"Tweet data structure"},"UserInfo":{"properties":{"userId":{"type":"string","title":"Userid","description":"User ID"},"isBlueVerified":{"type":"boolean","title":"Isblueverified","description":"Blue verification status"},"createdAt":{"type":"string","title":"Createdat","description":"Account creation date"},"createdAtDatetime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Createdatdatetime","description":"Account creation datetime in ISO format"},"defaultProfile":{"type":"boolean","title":"Defaultprofile","description":"Default profile flag"},"defaultProfileImage":{"type":"boolean","title":"Defaultprofileimage","description":"Default profile image flag"},"description":{"type":"string","title":"Description","description":"Bio description"},"location":{"type":"string","title":"Location","description":"Location"},"fastFollowersCount":{"type":"integer","title":"Fastfollowerscount","description":"Fast followers count"},"favouritesCount":{"type":"integer","title":"Favouritescount","description":"Likes count"},"followersCount":{"type":"integer","title":"Followerscount","description":"Followers count"},"hasCustomTimelines":{"type":"boolean","title":"Hascustomtimelines","description":"Has custom timelines flag"},"isTranslator":{"type":"boolean","title":"Istranslator","description":"Is translator flag"},"listedCount":{"type":"integer","title":"Listedcount","description":"Listed count"},"mediaCount":{"type":"integer","title":"Mediacount","description":"Media count"},"name":{"type":"string","title":"Name","description":"Display name"},"normalFollowersCount":{"type":"integer","title":"Normalfollowerscount","description":"Normal followers count"},"pinnedTweetIdsStr":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Pinnedtweetidsstr","description":"Pinned tweet IDs"},"possiblySensitive":{"type":"boolean","title":"Possiblysensitive","description":"Possibly sensitive flag"},"profileImageUrlHttps":{"type":"string","title":"Profileimageurlhttps","description":"Profile image URL"},"username":{"type":"string","title":"Username","description":"Username"},"statusesCount":{"type":"integer","title":"Statusescount","description":"Tweets count"},"translatorType":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Translatortype","description":"Translator type"},"verified":{"type":"boolean","title":"Verified","description":"Legacy verification status"},"withheldInCountries":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Withheldincountries","description":"Withheld in countries"},"protected":{"type":"boolean","title":"Protected","description":"Protected account flag"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"User profile URL"},"descriptionUrls":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Descriptionurls","description":"Description URLs"},"urls":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Urls","description":"User URLs"},"pinnedTweetIds":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Pinnedtweetids","description":"Pinned tweet IDs"}},"type":"object","required":["userId","isBlueVerified","createdAt","defaultProfile","defaultProfileImage","description","location","fastFollowersCount","favouritesCount","followersCount","hasCustomTimelines","isTranslator","listedCount","mediaCount","name","normalFollowersCount","possiblySensitive","profileImageUrlHttps","username","statusesCount","verified","protected"],"title":"UserInfo","description":"User information structure"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"HTTPBearer":{"type":"http","scheme":"bearer"}}}}