{"openapi":"3.1.0","info":{"title":"Twitter API Service","description":"\n    A comprehensive Twitter API service that provides various Twitter operations including:\n    \n    * **Search Operations**: Advanced search, hashtags, cashtags\n    * **Tweet Operations**: Post, like, retweet, quote, bookmark, delete\n    * **User Operations**: Batch user information retrieval\n    * **Influencer Operations**: Get tweets from top influencers\n    \n    All endpoints return standardized responses in the format:\n    ```json\n    {\n        \"code\": 200,\n        \"msg\": \"success\", \n        \"data\": {...}\n    }\n    ```\n    \n    ## Authentication\n    \n    This API uses Bearer token authentication. Include your token in the Authorization header:\n    ```\n    Authorization: Bearer your_token_here\n    ```\n    ","contact":{"name":"API Support","email":"support@twitterxapi.com"},"license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.twitterxapi.com","description":"Development server"}],"paths":{"/twitter/advanced_search":{"post":{"tags":["Search"],"summary":"Advanced Twitter Search","description":"Perform advanced search on Twitter with multiple search terms and filters","operationId":"get_data_twitter_advanced_search_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets matching search criteria","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/cashtags":{"post":{"tags":["Search"],"summary":"Search Cashtags","description":"Search for tweets containing specific cashtags (stock symbols)","operationId":"get_cashtags_twitter_cashtags_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashtagsQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets containing the specified cashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/hashtags":{"post":{"tags":["Search"],"summary":"Search Hashtags","description":"Search for tweets containing specific hashtags","operationId":"get_hashtags_twitter_hashtags_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashtagsQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets containing the specified hashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/like":{"post":{"tags":["Tweets"],"summary":"Like a Specific Tweet","description":"Likes a specific tweet on behalf of the user associated with the provided cookie.","operationId":"like_tweet_twitter_tweets__tweet_id__like_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The numeric ID of the tweet to like.","title":"Tweet Id"},"description":"The numeric ID of the tweet to like."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeActionBody"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/{tweet_id}/retweet":{"post":{"tags":["Tweets"],"summary":"Retweet a Tweet","description":"Retweets a specific tweet on behalf of the user associated with the provided cookie.","operationId":"retweet_tweet_action_twitter_tweets__tweet_id__retweet_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to retweet.","title":"Tweet Id"},"description":"The ID of the tweet to retweet."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetweetActionBody"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/2k_influencers_tweets":{"post":{"tags":["Influencers"],"summary":"Get Influencer Tweets","description":"Retrieve tweets from top 2000 influencers since specified time","operationId":"get_2k_influencers_tweets_twitter_2k_influencers_tweets_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfluencersQuery"}}},"required":true},"responses":{"200":{"description":"List of tweets from influencers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/users":{"get":{"tags":["Users"],"summary":"Get Multiple Users by Usernames","description":"Retrieve detailed profile information for multiple Twitter users by their usernames or profile URLs.","operationId":"get_users_by_usernames_twitter_users_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"usernames","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"},"description":"A list of Twitter usernames or profile URLs. Provide multiple times for multiple users (e.g., `['elonmusk','aixbtagent']`).","title":"Usernames"},"description":"A list of Twitter usernames or profile URLs. Provide multiple times for multiple users (e.g., `['elonmusk','aixbtagent']`).","example":["elonmusk","sundarpichai"]}],"responses":{"200":{"description":"A list of user profile objects. Unfound users are represented by `null`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUsersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/create":{"post":{"tags":["Tweets"],"summary":"Create a Tweet or Reply","description":"Posts a new tweet. To create a reply, provide the `reply_tweet_id`. This endpoint does not handle quote tweets.","operationId":"create_tweet_twitter_tweets_create_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetQuery"}}},"required":true},"responses":{"200":{"description":"The ID and user ID of the newly created tweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/quote":{"post":{"tags":["Tweets"],"summary":"Create a Quote Tweet","description":"Posts a new tweet that quotes an existing tweet. Requires the URL of the tweet to be quoted and the new content.","operationId":"quote_tweets_twitter_tweets_quote_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteTweetQuery"}}},"required":true},"responses":{"200":{"description":"The ID and user ID of the newly created quote tweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/post_tweet_without_cookie":{"post":{"tags":["Tweets"],"summary":"Post Tweet (Auto Cookie)","description":"Post a tweet using a random cookie from the pool","operationId":"post_tweets_without_cookie_twitter_post_tweet_without_cookie_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetWithoutCookieQuery"}}},"required":true},"responses":{"200":{"description":"Tweet ID and user ID of posted tweet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTweetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/bookmark":{"post":{"tags":["Tweets"],"summary":"Bookmark a Tweet","description":"Adds a specific tweet to the bookmarks of the user associated with the provided cookie.","operationId":"create_bookmark_twitter_tweets__tweet_id__bookmark_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to bookmark.","title":"Tweet Id"},"description":"The ID of the tweet to bookmark."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookmarkBody"}}}},"responses":{"200":{"description":"A confirmation of the action's success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/delete-batch":{"post":{"tags":["Tweets"],"summary":"Delete One or More Tweets","description":"Deletes one or more tweets from a specified user account. This endpoint supports two modes:\n\n1.  **Single Tweet Deletion**: Provide a `target_id` to delete a specific tweet.\n2.  **Bulk Deletion**: Omit the `target_id` to delete **all** tweets from the user's account.\n\n**Warning**: The bulk deletion mode is irreversible and will permanently remove all tweets from the account. Use with extreme caution.","operationId":"delete_tweets_batch_twitter_tweets_delete_batch_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTweetQuery"}}},"required":true},"responses":{"200":{"description":"Success confirmation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TweetActionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/twitter/tweets/{tweet_id}/replies/{count}":{"get":{"tags":["Tweets"],"summary":"Get Replies by Tweet ID","description":"Get replies for a specific tweet, returned as a nested Tweet object.","operationId":"get_replies_by_id_twitter_tweets__tweet_id__replies__count__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tweet_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the tweet to get replies for.","title":"Tweet Id"},"description":"The ID of the tweet to get replies for.","example":"1803006263529541838"},{"name":"count","in":"path","required":true,"schema":{"type":"integer","maximum":5000,"minimum":1,"description":"Maximum number of replies to return.","title":"Count"},"description":"Maximum number of replies to return.","example":50}],"responses":{"200":{"description":"The root Tweet object with its replies.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/twitter/tweets/lookup":{"post":{"tags":["Tweets"],"summary":"Batch Get Tweets by ID","description":"Retrieve detailed information for multiple Tweets by their IDs.","operationId":"get_tweets_by_ids_twitter_tweets_lookup_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTweetsByIdsQuery"}}},"required":true},"responses":{"200":{"description":"A list of Tweet objects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTweetsByIdResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}}},"components":{"schemas":{"BatchUsersResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/UserInfo"},{"type":"null"}]},"type":"array","title":"Data","description":"List of user info (null for not found users)"}},"type":"object","required":["data"],"title":"BatchUsersResponse","description":"Batch users API response"},"BookmarkBody":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."}},"type":"object","required":["cookie"],"title":"BookmarkBody","description":"Body for bookmarking a tweet"},"CashtagsQuery":{"properties":{"cashtags":{"type":"string","title":"Cashtags","description":"Cashtag to search for (with or without $ prefix)","example":"AAPL"},"startTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Starttime","description":"Start time for search in ISO format","example":"2024-10-20_23:59:59_UTC"},"endTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endtime","description":"End time for search in ISO format","example":"2024-10-21_23:59:59_UTC"},"sortBy":{"anyOf":[{"type":"string","enum":["Latest","Top"]},{"type":"null"}],"title":"Sortby","description":"Sort order for results","default":"Latest"},"maxItems":{"anyOf":[{"type":"integer","maximum":1000.0,"minimum":1.0},{"type":"null"}],"title":"Maxitems","description":"Maximum number of tweets to return","default":20},"mininumLikes":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumlikes","description":"Minimum number of likes required","default":0},"mininumRetweets":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumretweets","description":"Minimum number of retweets required","default":0},"mininumReplies":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumreplies","description":"Minimum number of replies required","default":0},"blueVerified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Blueverified","description":"Filter for blue verified accounts only"},"verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Verified","description":"Filter for verified accounts only"},"language":{"anyOf":[{"type":"string","enum":["am","ar","bg","bn","bo","ca","ch","cs","da","de","dv","el","en","es","et","fa","fi","fr","gu","hi","ht","hu","hy","in","is","it","iu","iw","ja","ka","km","kn","ko","lo","lt","lv","ml","my","ne","nl","no","or","pa","pl","pt","ro","ru","si","sk","sl","sv","ta","te","th","tl","tr","uk","ur","vi","zh"]},{"type":"null"}],"title":"Language","description":"Language filter for tweets","example":"en"}},"type":"object","required":["cashtags"],"title":"CashtagsQuery","description":"Query parameters for searching cashtags (stock symbols)"},"DeleteTweetQuery":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."},"username":{"type":"string","title":"Username","description":"Twitter username whose tweets to delete","example":"myusername"},"target_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Target Id","description":"Specific tweet ID to delete (if not provided, deletes all user tweets)","example":"1234567890123456789"}},"type":"object","required":["cookie","username"],"title":"DeleteTweetQuery","description":"Parameters for deleting tweets"},"GetTweetsByIdResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array"},{"type":"null"}],"title":"Data","description":"Tweet data"}},"type":"object","required":["data"],"title":"GetTweetsByIdResponse"},"GetTweetsByIdsQuery":{"properties":{"tweet_ids":{"items":{"type":"string"},"type":"array","title":"Tweet Ids","description":"Tweet IDs"}},"type":"object","required":["tweet_ids"],"title":"GetTweetsByIdsQuery"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HashtagsQuery":{"properties":{"hashtags":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hashtags","description":"Hashtag to search for (with or without # prefix)","example":"python"},"startTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Starttime","description":"Start time for search in ISO format","example":"2024-10-20_23:59:59_UTC"},"endTime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endtime","description":"End time for search in ISO format","example":"2024-10-21_23:59:59_UTC"},"sortBy":{"anyOf":[{"type":"string","enum":["Latest","Top"]},{"type":"null"}],"title":"Sortby","description":"Sort order for results","default":"Latest"},"maxItems":{"anyOf":[{"type":"integer","maximum":1000.0,"minimum":1.0},{"type":"null"}],"title":"Maxitems","description":"Maximum number of tweets to return","default":20},"mininumLikes":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumlikes","description":"Minimum number of likes required","default":0},"mininumRetweets":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumretweets","description":"Minimum number of retweets required","default":0},"mininumReplies":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Mininumreplies","description":"Minimum number of replies required","default":0},"blueVerified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Blueverified","description":"Filter for blue verified accounts only"},"verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Verified","description":"Filter for verified accounts only"},"language":{"anyOf":[{"type":"string","enum":["am","ar","bg","bn","bo","ca","ch","cs","da","de","dv","el","en","es","et","fa","fi","fr","gu","hi","ht","hu","hy","in","is","it","iu","iw","ja","ka","km","kn","ko","lo","lt","lv","ml","my","ne","nl","no","or","pa","pl","pt","ro","ru","si","sk","sl","sv","ta","te","th","tl","tr","uk","ur","vi","zh"]},{"type":"null"}],"title":"Language","description":"Language filter for tweets","example":"en"}},"type":"object","title":"HashtagsQuery","description":"Query parameters for searching hashtags"},"InfluencersQuery":{"properties":{"start_time":{"type":"string","title":"Start Time","description":"Start time for tweet collection in ISO format","example":"2024-01-01T00:00:00Z"}},"type":"object","required":["start_time"],"title":"InfluencersQuery","description":"Parameters for getting influencer tweets"},"LikeActionBody":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."}},"type":"object","required":["cookie"],"title":"LikeActionBody","description":"Body for the like action, containing only the cookie."},"MediaModel":{"properties":{"id":{"type":"string","title":"Id","description":"Media ID","example":"1802991873836883968"},"type":{"type":"string","title":"Type","description":"Type of media (e.g., photo, video)","example":"photo"},"display_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Url","description":"URL of the media to display","example":"pic.twitter.com/..."},"expanded_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Expanded Url","description":"Expanded URL for the media"},"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"Direct URL to the media file"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"t.co URL for the media"},"height":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Height","description":"Height of the media in pixels","example":1080},"width":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Width","description":"Width of the media in pixels","example":1920},"features":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Features","description":"Features of the media"},"original_info":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Original Info","description":"Original information about the media"},"sizes":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Sizes","description":"Available sizes of the media"},"source_status_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Status Id","description":"Source tweet ID if the media is a retweet"},"source_user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source User Id","description":"Source user ID if the media is a retweet"},"duration_millis":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Millis","description":"Duration of the video in milliseconds"},"aspect_ratio":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Aspect Ratio","description":"Aspect ratio of the video","example":[16,9]},"video_info":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Video Info","description":"Detailed video information"},"streams":{"items":{"$ref":"#/components/schemas/StreamModel"},"type":"array","title":"Streams","description":"List of available video streams","default":[]}},"type":"object","required":["id","type"],"title":"MediaModel"},"PostTweetData":{"properties":{"tweet_id":{"type":"string","title":"Tweet Id","description":"Posted tweet ID","example":"1234567890123456789"},"user_id":{"type":"string","title":"User Id","description":"User ID who posted","example":"1234567890"}},"type":"object","required":["tweet_id","user_id"],"title":"PostTweetData","description":"Post tweet response data"},"PostTweetQuery":{"properties":{"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"URL of media to attach to the tweet","example":"https://example.com/image.jpg"},"tweet_content":{"type":"string","maxLength":280,"title":"Tweet Content","description":"Content of the tweet to post","example":"Hello, Twitter! 🐦"},"schedule":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Schedule","description":"Schedule time for the tweet in ISO format","example":"2024-01-01T12:00:00Z"},"reply_tweet_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reply Tweet Id","description":"ID of tweet to reply to","example":"1234567890123456789"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."},"community_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Name","description":"Name of Twitter community to post in","example":"Python Developers"}},"type":"object","required":["tweet_content","cookie"],"title":"PostTweetQuery","description":"Parameters for posting a tweet"},"PostTweetResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"$ref":"#/components/schemas/PostTweetData","description":"Posted tweet information"}},"type":"object","required":["data"],"title":"PostTweetResponse","description":"Post tweet API response"},"PostTweetWithoutCookieQuery":{"properties":{"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"URL of media to attach to the tweet","example":"https://example.com/image.jpg"},"tweet_content":{"type":"string","maxLength":280,"title":"Tweet Content","description":"Content of the tweet to post","example":"Hello, Twitter! 🐦"},"schedule":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Schedule","description":"Schedule time for the tweet in ISO format","example":"2024-01-01T12:00:00Z"},"reply_tweet_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reply Tweet Id","description":"ID of tweet to reply to","example":"1234567890123456789"},"community_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Name","description":"Name of Twitter community to post in","example":"Python Developers"},"quote_tweet_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Quote Tweet Url","description":"URL of tweet to quote","example":"https://twitter.com/user/status/1234567890123456789"}},"type":"object","required":["tweet_content"],"title":"PostTweetWithoutCookieQuery","description":"Parameters for posting a tweet without providing cookie (uses random cookie from pool)"},"QuoteTweetQuery":{"properties":{"media_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Media Url","description":"URL of media to attach to the tweet","example":"https://example.com/image.jpg"},"tweet_content":{"type":"string","maxLength":280,"title":"Tweet Content","description":"Content of the tweet to post","example":"Hello, Twitter! 🐦"},"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."},"community_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Name","description":"Name of Twitter community to post in","example":"Python Developers"},"quote_tweet_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Quote Tweet Url","description":"URL of tweet to quote","example":"https://twitter.com/user/status/1234567890123456789"}},"type":"object","required":["tweet_content","cookie"],"title":"QuoteTweetQuery","description":"Parameters for quoting a tweet"},"ReplyResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}],"description":"Tweet data"}},"type":"object","required":["data"],"title":"ReplyResponse","description":"Reply response data"},"RetweetActionBody":{"properties":{"cookie":{"type":"string","title":"Cookie","description":"Twitter authentication cookie","example":"auth_token=abc123..."}},"type":"object","required":["cookie"],"title":"RetweetActionBody","description":"Body for the retweet action, containing only the cookie."},"SearchQuery":{"properties":{"searchTerms":{"items":{"type":"string"},"type":"array","title":"Searchterms","description":"List of search terms to query Twitter","example":["python programming","AI technology"]},"maxItems":{"type":"integer","maximum":1000.0,"minimum":1.0,"title":"Maxitems","description":"Maximum number of tweets to return","example":50},"sortBy":{"type":"string","enum":["Latest","Top"],"title":"Sortby","description":"Sort order for results","example":"Latest"}},"type":"object","required":["searchTerms","maxItems","sortBy"],"title":"SearchQuery","description":"Advanced Twitter search query parameters"},"SearchResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"items":{"$ref":"#/components/schemas/TweetData"},"type":"array","title":"Data","description":"List of tweets"}},"type":"object","required":["data"],"title":"SearchResponse","description":"Search API response"},"StreamModel":{"properties":{"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"URL of the video stream","example":"https://video.twimg.com/..."},"bitrate":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bitrate","description":"Bitrate of the video stream in bps","example":832000},"content_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content Type","description":"Content type of the stream","example":"video/mp4"}},"type":"object","title":"StreamModel"},"TweetActionResponse":{"properties":{"code":{"type":"integer","title":"Code","description":"HTTP status code","default":200},"msg":{"type":"string","title":"Msg","description":"Response message","default":"success"},"data":{"type":"boolean","title":"Data","description":"Success status","default":true}},"type":"object","title":"TweetActionResponse","description":"Tweet action response"},"TweetAuthor":{"properties":{"type":{"type":"string","title":"Type","description":"User type","example":"user"},"userName":{"type":"string","title":"Username","description":"Twitter username","example":"CK_Cryptoklepto"},"url":{"type":"string","title":"Url","description":"X.com profile URL","example":"https://x.com/CK_Cryptoklepto"},"twitterUrl":{"type":"string","title":"Twitterurl","description":"Twitter profile URL","example":"https://twitter.com/CK_Cryptoklepto"},"id":{"type":"string","title":"Id","description":"User ID","example":"1717001045992251392"},"name":{"type":"string","title":"Name","description":"Display name","example":"Cryptoklepto"},"isVerified":{"type":"boolean","title":"Isverified","description":"Legacy verification status","example":false},"isBlueVerified":{"type":"boolean","title":"Isblueverified","description":"Blue verification status","example":true},"profilePicture":{"type":"string","title":"Profilepicture","description":"Profile picture URL"},"coverPicture":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Coverpicture","description":"Cover picture URL"},"description":{"type":"string","title":"Description","description":"Bio description"},"location":{"type":"string","title":"Location","description":"Location"},"followers":{"type":"integer","title":"Followers","description":"Followers count","example":7263},"following":{"type":"integer","title":"Following","description":"Following count","example":1568},"favouritesCount":{"type":"integer","title":"Favouritescount","description":"Likes count","example":21335},"statusesCount":{"type":"integer","title":"Statusescount","description":"Tweets count","example":30846},"mediaCount":{"type":"integer","title":"Mediacount","description":"Media count","example":8256},"createdAt":{"type":"string","title":"Createdat","description":"Account creation date"}},"type":"object","required":["type","userName","url","twitterUrl","id","name","isVerified","isBlueVerified","profilePicture","description","location","followers","following","favouritesCount","statusesCount","mediaCount","createdAt"],"title":"TweetAuthor","description":"Tweet author information"},"TweetData":{"properties":{"id":{"type":"string","title":"Id","description":"Tweet ID","example":"1934458863417507963"},"text":{"type":"string","title":"Text","description":"Tweet content"},"twitterUrl":{"type":"string","title":"Twitterurl","description":"Tweet URL","example":"https://twitter.com/user/status/1234567890"},"created_at":{"type":"string","title":"Created At","description":"Tweet creation date","example":"Mon Jun 16 03:51:48 +0000 2025"},"auth":{"$ref":"#/components/schemas/TweetAuthor"},"author_id":{"type":"string","title":"Author Id","description":"Author user ID","example":"1717001045992251392"},"author_name":{"type":"string","title":"Author Name","description":"Author display name","example":"Cryptoklepto"},"author_username":{"type":"string","title":"Author Username","description":"Author username","example":"CK_Cryptoklepto"},"inReplyToId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Inreplytoid","description":"ID of tweet being replied to"},"conversationId":{"type":"string","title":"Conversationid","description":"Conversation thread ID"},"inReplyToUserId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Inreplytouserid","description":"User ID being replied to"},"inReplyToUsername":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Inreplytousername","description":"Username being replied to"},"lang":{"type":"string","title":"Lang","description":"Tweet language","example":"en"}},"type":"object","required":["id","text","twitterUrl","created_at","auth","author_id","author_name","author_username","conversationId","lang"],"title":"TweetData","description":"Tweet data structure"},"TweetModel":{"properties":{"tweet_id":{"type":"string","title":"Tweet Id","description":"The unique identifier for the Tweet","example":"1803006263529541838"},"text":{"type":"string","title":"Text","description":"The actual text content of the Tweet"},"created_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At","description":"The date and time the Tweet was created","example":"Mon Jun 17 03:51:48 +0000 2024"},"created_at_datetime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At Datetime","description":"The ISO 8601 format of the creation date","example":"2024-06-17T03:51:48.000Z"},"bookmark_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bookmark Count","description":"Number of times the Tweet has been bookmarked","default":0},"bookmarked":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Bookmarked","description":"Indicates if the authenticating user has bookmarked this Tweet","default":false},"community_note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Community Note","description":"Community note associated with the Tweet"},"edit_tweet_ids":{"items":{"type":"string"},"type":"array","title":"Edit Tweet Ids","description":"A list of Tweet IDs for each edit of the Tweet","default":[]},"editable_until_msecs":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Editable Until Msecs","description":"Timestamp for when the Tweet is no longer editable"},"edits_remaining":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Edits Remaining","description":"Number of edits remaining for the Tweet"},"favorite_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Favorite Count","description":"Number of likes (favorites) for the Tweet","default":0},"favorited":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Favorited","description":"Indicates if the authenticating user has liked this Tweet","default":false},"full_text":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Full Text","description":"The full text of the Tweet, especially for extended tweets"},"has_card":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Has Card","description":"Indicates if the Tweet has a card attached","default":false},"has_community_notes":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Has Community Notes","description":"Indicates if the Tweet has community notes","default":false},"hashtags":{"items":{"type":"string"},"type":"array","title":"Hashtags","description":"A list of hashtags mentioned in the Tweet","default":[],"example":["AI","Python"]},"cashtags":{"items":{"type":"string"},"type":"array","title":"Cashtags","description":"A list of cashtags (stock symbols) mentioned in the Tweet","default":[],"example":["$TSLA"]},"id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id","description":"The unique identifier for the Tweet (same as tweet_id)"},"in_reply_to":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"In Reply To","description":"ID of the Tweet this is a reply to"},"is_edit_eligible":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Edit Eligible","description":"Indicates if the Tweet is eligible for editing","default":false},"is_quote_status":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Quote Status","description":"Indicates if this Tweet is a quote of another Tweet","default":false},"is_translatable":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Translatable","description":"Indicates if the Tweet is translatable","default":false},"lang":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lang","description":"The BCP 47 language identifier for the Tweet's content","example":"en"},"media":{"items":{"$ref":"#/components/schemas/MediaModel"},"type":"array","title":"Media","description":"A list of media objects (photos, videos) attached to the Tweet","default":[]},"place":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Place","description":"The location associated with the Tweet"},"poll":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Poll","description":"A poll attached to the Tweet"},"possibly_sensitive":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Possibly Sensitive","description":"Indicates if the Tweet may contain sensitive content"},"possibly_sensitive_editable":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Possibly Sensitive Editable","description":"Indicates if the sensitive content flag is editable"},"quote":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}],"description":"The Tweet object being quoted"},"quote_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Quote Count","description":"Number of times this Tweet has been quoted","default":0},"related_tweets":{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array","title":"Related Tweets","description":"A list of related Tweets","default":[]},"replies":{"items":{"$ref":"#/components/schemas/TweetModel"},"type":"array","title":"Replies","description":"A list of replies to this Tweet","default":[]},"reply_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Reply Count","description":"Number of replies to this Tweet","default":0},"reply_to":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}],"description":"The Tweet object this is a reply to"},"retweet_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Retweet Count","description":"Number of times this Tweet has been retweeted","default":0},"retweeted_tweet":{"anyOf":[{"$ref":"#/components/schemas/TweetModel"},{"type":"null"}],"description":"The original Tweet object if this is a retweet"},"thread":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Thread","description":"The conversation thread ID"},"thumbnail_title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Thumbnail Title","description":"Title for the thumbnail in a card"},"thumbnail_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Thumbnail Url","description":"URL for the thumbnail in a card"},"urls":{"items":{"type":"string"},"type":"array","title":"Urls","description":"A list of URLs included in the Tweet","default":[]},"user":{"anyOf":[{"$ref":"#/components/schemas/UserModel"},{"type":"null"}],"description":"The user who posted the Tweet"},"view_count":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"View Count","description":"Number of views for the Tweet"},"view_count_state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"View Count State","description":"State of the view count"},"status":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Status","description":"Raw status dictionary, for fallback or debugging"},"target_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Target Count","description":"The target count of items requested, for context"}},"type":"object","required":["tweet_id","text"],"title":"TweetModel"},"UserInfo":{"properties":{"userId":{"type":"string","title":"Userid","description":"User ID"},"isBlueVerified":{"type":"boolean","title":"Isblueverified","description":"Blue verification status"},"createdAt":{"type":"string","title":"Createdat","description":"Account creation date"},"createdAtDatetime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Createdatdatetime","description":"Account creation datetime in ISO format"},"defaultProfile":{"type":"boolean","title":"Defaultprofile","description":"Default profile flag"},"defaultProfileImage":{"type":"boolean","title":"Defaultprofileimage","description":"Default profile image flag"},"description":{"type":"string","title":"Description","description":"Bio description"},"location":{"type":"string","title":"Location","description":"Location"},"fastFollowersCount":{"type":"integer","title":"Fastfollowerscount","description":"Fast followers count"},"favouritesCount":{"type":"integer","title":"Favouritescount","description":"Likes count"},"followersCount":{"type":"integer","title":"Followerscount","description":"Followers count"},"hasCustomTimelines":{"type":"boolean","title":"Hascustomtimelines","description":"Has custom timelines flag"},"isTranslator":{"type":"boolean","title":"Istranslator","description":"Is translator flag"},"listedCount":{"type":"integer","title":"Listedcount","description":"Listed count"},"mediaCount":{"type":"integer","title":"Mediacount","description":"Media count"},"name":{"type":"string","title":"Name","description":"Display name"},"normalFollowersCount":{"type":"integer","title":"Normalfollowerscount","description":"Normal followers count"},"pinnedTweetIdsStr":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Pinnedtweetidsstr","description":"Pinned tweet IDs"},"possiblySensitive":{"type":"boolean","title":"Possiblysensitive","description":"Possibly sensitive flag"},"profileImageUrlHttps":{"type":"string","title":"Profileimageurlhttps","description":"Profile image URL"},"username":{"type":"string","title":"Username","description":"Username"},"statusesCount":{"type":"integer","title":"Statusescount","description":"Tweets count"},"translatorType":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Translatortype","description":"Translator type"},"verified":{"type":"boolean","title":"Verified","description":"Legacy verification status"},"withheldInCountries":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Withheldincountries","description":"Withheld in countries"},"protected":{"type":"boolean","title":"Protected","description":"Protected account flag"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"User profile URL"},"descriptionUrls":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Descriptionurls","description":"Description URLs"},"urls":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Urls","description":"User URLs"},"pinnedTweetIds":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Pinnedtweetids","description":"Pinned tweet IDs"}},"type":"object","required":["userId","isBlueVerified","createdAt","defaultProfile","defaultProfileImage","description","location","fastFollowersCount","favouritesCount","followersCount","hasCustomTimelines","isTranslator","listedCount","mediaCount","name","normalFollowersCount","possiblySensitive","profileImageUrlHttps","username","statusesCount","verified","protected"],"title":"UserInfo","description":"User information structure"},"UserModel":{"properties":{"id":{"type":"string","title":"Id","description":"User ID","example":"1717001045992251392"},"name":{"type":"string","title":"Name","description":"Display name","example":"Cryptoklepto"},"screen_name":{"type":"string","title":"Screen Name","description":"Twitter username","example":"CK_Cryptoklepto"},"created_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At","description":"Account creation date","example":"Mon Oct 28 02:32:47 +0000 2024"},"created_at_datetime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At Datetime","description":"Account creation datetime in ISO format","example":"2024-10-28T02:32:47.000Z"},"can_dm":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Can Dm","description":"Whether the user can be direct messaged","default":false},"can_media_tag":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Can Media Tag","description":"Whether the user can be tagged in media","default":false},"default_profile":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Default Profile","description":"Whether the user has a default profile","default":false},"default_profile_image":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Default Profile Image","description":"Whether the user has a default profile image","default":false},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"User's bio description","default":""},"description_urls":{"items":{"type":"string"},"type":"array","title":"Description Urls","description":"List of URLs found in the user's description","default":[]},"fast_followers_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Fast Followers Count","description":"Count of fast followers","default":0},"favourites_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Favourites Count","description":"Number of tweets the user has liked","default":0},"followers_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Followers Count","description":"Number of followers","default":0},"following_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Following Count","description":"Number of users this user is following","default":0},"has_custom_timelines":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Has Custom Timelines","description":"Whether the user has custom timelines","default":false},"is_blue_verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Blue Verified","description":"Blue verification status","default":false},"is_translator":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Translator","description":"Whether the user is a translator","default":false},"listed_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Listed Count","description":"Number of public lists the user is a member of","default":0},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location","description":"User's location","default":"","example":"New York, USA"},"media_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Media Count","description":"Number of media tweets posted by the user","default":0},"normal_followers_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Normal Followers Count","description":"Count of normal followers","default":0},"pinned_tweet_ids":{"items":{"type":"string"},"type":"array","title":"Pinned Tweet Ids","description":"List of pinned tweet IDs","default":[]},"possibly_sensitive":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Possibly Sensitive","description":"Whether the user's profile may contain sensitive content","default":false},"profile_banner_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Profile Banner Url","description":"URL of the user's profile banner"},"profile_image_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Profile Image Url","description":"URL of the user's profile image"},"protected":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Protected","description":"Whether the user's tweets are protected","default":false}},"type":"object","required":["id","name","screen_name"],"title":"UserModel"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"HTTPBearer":{"type":"http","scheme":"bearer"}}}}